<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/productLayout.html}">
<!--내용 시작-->
    <section class="list" layout:fragment="content">
        <script>
            function sort(sortType){
                const currentUrl = new URL(window.location.href);

                currentUrl.searchParams.set('sort', sortType);

                window.location.href = currentUrl.toString();
            }

        </script>
      <!-- 제목, 페이지 네비게이션 -->
      <nav>
        <h1>상품목록</h1>
          <p>HOME >
              <span th:if="${resultMap.cate01Name != null}" th:text="${resultMap.cate01Name}"></span>
              <span th:if="${resultMap.cate01Name != null and resultMap.cate02Name != null}"> > </span>
              <strong th:if="${resultMap.cate02Name != null}" th:text="${resultMap.cate02Name}"></strong>
              <span th:if="${resultMap.cate02Name != null and resultMap.cate03Name != null}"> > </span>
              <span th:if="${resultMap.cate03Name != null}" th:text="${resultMap.cate03Name}"></span>
          </p>

      </nav>

      <!-- 정렬 메뉴 -->

        <ul class="sort">
            <li><a href="#" onclick="sort('prodSold')"> 판매많은순</a></li>
            <li><a href="#" onclick="sort('prodLowPrice')"> 낮은가격순</a></li>
            <li><a href="#" onclick="sort('prodHighPrice')"> 높은가격순</a></li>
            <li><a href="#" onclick="sort('prodScore')"> 평점높은순</a></li>
            <li><a href="#" onclick="sort('prodReview')"> 후기많은순</a></li>
            <li><a href="#" onclick="sort('prodRdate')"> 최근등록순</a></li>
        </ul>

      <!-- 상품목록 -->
      <section class="productBox">
        <article th:each="product, index:${productPageResponseDTO.dtoList}" id="product">
            <a th:href="@{'/product/view?cateCode=' + ${product.cateCode} + '&sort='+ ${setSortType} + '&prodNo=' +  ${product.prodNo}}">
            <div class="thumb">
              <img th:src="@{/uploads/__${product.thumb190}__}" alt="t1" />
            </div>
            <h2>[[${product.prodName}]]</h2>
            <div class="org_price">
              <del th:text="${#numbers.formatInteger(product.prodPrice, 3, 'COMMA')}" id="prodPrice"></del>
              <span th:text="${product.prodDiscount} + '%'"></span>
            </div>
            <div class="dis_price">
              <ins th:text="${#numbers.formatInteger((product.prodPrice * (100 - product.prodDiscount) * 0.01), 3, 'COMMA')}"></ins>
              <span class="free">무료배송</span>
            </div>
            <div class="score_review">
              <b>★<span>[[${product.tReviewScore}]]</span></b>
              <b>| 리뷰<span>[[${product.tReviewCount}]]</span></b>
            </div>
          </a>
        </article>
      </section>

      <!-- 상품목록 페이지번호 -->
      <div class="paging">
       <span class="prev" th:if="${productPageResponseDTO.prev}" >
                  <a th:href="@{/admin/product/list(pg=${productPageResponseDTO.start - 1})}"><&nbsp;이전</a>
                </span>
        <span class="num" th:each="num:${#numbers.sequence(productPageResponseDTO.start, productPageResponseDTO.end)}">
                  <a th:if="${num != 0}" th:href="@{/admin/product/list(pg=${num})}" th:class="${num == 1} ? 'on' : ''">[[${num}]]</a>
                </span>
        <span class="next" th:if="${productPageResponseDTO.next}">
                     <a th:href="@{/admin/product/list(pg=${productPageResponseDTO.end + 1})}">다음&nbsp;></a>
        </span>
      </div>

    </section>
<!--내용 끝-->
</html>