<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/productLayout.html}">
<!--내용 시작-->
    <!-- 상품 상세페이지 시작 -->
    <section class="view" layout:fragment="content">
        <script th:inline="javascript">

            // 옵션 항목 출력 버튼
            // 옵션이 여러개인 경우 이전 옵션을 선택하지 않으면 다음 옵션창 drop 안됨
            function dropOption() {
                const optionList = event.target.nextElementSibling;
                const prodOption = event.target.parentNode; // 현재 옵션 버튼
                const prodOptionFirst = document.getElementsByClassName('prodOption')[0];
                if (prodOption !== prodOptionFirst){

                    if (prodOption.previousElementSibling.querySelector('.selectOptionNo').value !== ""){

                        if (optionList.style.display === "block") {
                            optionList.style.display = "none"; // 옵션 박스 숨기기
                        } else {
                            optionList.style.display = "block"; // 옵션 박스 보이기
                        }
                    }
                }else {
                    if (optionList.style.display === "block") {
                        optionList.style.display = "none"; // 옵션 박스 숨기기
                    } else {
                        optionList.style.display = "block"; // 옵션 박스 보이기
                    }
                }
            }

            // 옵션 선택
            function selectOption() {
                const label = event.target.parentNode // 버튼의 부모
                const SelectOption = label.parentNode // 버튼의 부모의 부모
                const prodOption = SelectOption.parentNode // 버튼의 부모의 부모의 부모
                const selectedOption = prodOption.parentNode.querySelector('.selectedOption');
                const selectOptionNo = prodOption.querySelector('.selectOptionNo'); // 선택한 옵션 번호
                const btnSelectOption = prodOption.querySelector('.btnSelectOption'); // 옵션 선택 버튼
                const btnSelectOptionAll = prodOption.parentNode.querySelectorAll('.btnSelectOption'); // 옵션 선택 버튼 전부


                const optNo = label.querySelector('.optionNo').value; // 옵션 번호
                const optionList = event.target.parentNode.parentNode;
                const optionName = event.target.innerText; // 옵션 이름
                const optionValue = event.target.nextElementSibling.value; // 옵션 가격
                const selectedOptionName = selectedOption.querySelectorAll('h4'); // 선택된 옵션 이름들

                // 마지막 옵션인지 체크
                if (prodOption.nextElementSibling.className !== "prodOption") {
                    // 마지막 옵션일 경우 선택한 옵션 정보 출력 & 옵션 선택박스 초기화
                    selectOptionNo.value = optNo;
                    btnSelectOption.innerText = optionName;
                    SelectOption.style.display = "none";

                    // 사용자가 선택한 옵션 이름과 옵션 번호를 문자열로 합치기
                    const prodOptions = prodOption.parentNode.querySelectorAll('.prodOption');
                    let selectedOptName = "";
                    let selectedOptNo = "";
                    Array.from(prodOptions).forEach(function (option, index) {
                        const optName = option.querySelector('.btnSelectOption').innerText;
                        const optNo = option.querySelector('.selectOptionNo').value;
                        if (index > 0) {
                            selectedOptName += "_";
                        }
                        if (index > 0) {
                            selectedOptNo += "_";
                        }
                        selectedOptName += optName;
                        selectedOptNo += optNo;
                    })

                    const countUnderscore = selectedOptNo.split('_').length - 1;
                    if (countUnderscore === 0) {
                        selectedOptNo += "_0_0";
                    } else if (countUnderscore === 1) {
                        selectedOptNo += "_0";
                    }

                    // 이미 선택된 옵션인지 체크
                    let optionCheck = 0;
                    const selectedOption = document.getElementsByClassName("selectedOption")[0];
                    const selectedOptionName = selectedOption.querySelectorAll('h4');

                    Array.from(selectedOptionName).forEach(function (h4) {
                        if (h4.innerText === selectedOptName) {
                            optionCheck = 1;
                            alert("이미 선택된 옵션입니다.");
                            let optionMap = [[${OptionDTOs.optionMap}]];
                            const optionName = Object.keys(optionMap)
                            Array.from(btnSelectOptionAll).forEach(function (optionBtn, index) {
                                optionBtn.innerText = optionName[index];
                            })
                        } else {
                            optionCheck = 0;
                        }
                    })

                    // 이미 선택된 옵션이 아닐경우
                    if (optionCheck === 0) {

                        const matchingDTOs = findOptionInfo(selectedOptNo);

                        if (matchingDTOs.length === 0) {
                            alert("해당 옵션은 현재 구매 불가능합니다.");
                            let optionMap = [[${OptionDTOs.optionMap}]];
                            const optionName = Object.keys(optionMap)
                            Array.from(btnSelectOptionAll).forEach(function (optionBtn, index) {
                                optionBtn.innerText = optionName[index];
                            })
                        } else {
                            const selected = `<div>
                                            <h4>${selectedOptName}</h4>
                                            <div class="count">
                                                <button class="decrease" onclick="changeNum(-1)">-</button>
                                                <input type="text" name="num" class="numInput" value="1" oninput="changeNum(0)"/>
                                                <button class="increase" onclick="changeNum(1)">+</button>
                                            </div>
                                            <div class="optionPrice">
                                                <span>${matchingDTOs.optPrice}원</span>
                                                <input type="hidden" name="optDetailNo" value="${matchingDTOs.optDetailNo}"/>
                                                <span onclick="delSelectedOption()">x</span>
                                            </div>
                                        </div>`;
                            selectedOption.insertAdjacentHTML('beforeend', selected);
                            let optionMap = [[${OptionDTOs.optionMap}]];
                            const optionName = Object.keys(optionMap)
                            Array.from(btnSelectOptionAll).forEach(function (optionBtn, index) {
                                optionBtn.innerText = optionName[index];
                            })
                        }
                    }
                } else {
                    // 마지막 옵션이 아닌 경우
                    selectOptionNo.value = optNo;
                    btnSelectOption.innerText = optionName;
                    SelectOption.style.display = "none";
                }
            }

            // 선택한 옵션 삭제 버튼
            function delSelectedOption() {
                const delSelected = event.target // 버튼
                const optionPrice = delSelected.parentNode // 버튼의 부모
                const SelectedOptDiv = optionPrice.parentNode // 버튼의 부모의 부모

                SelectedOptDiv.remove();
            }

            /*
                사용자가 선택한 옵션에 알맞은 재고와 가격 찾는 함수
                - model 참조로 받아온 DTO에서 상품 옵션 조회
                - 사용자가 옵션들을 선택하면 optNo값을 받아와서 일치하는 상품 가격과 재고 조회 가능
             */
            let OptionDetailDTOs = [[${OptionDTOs.prodOptDetailDTOS}]];

            function findOptionInfo(optionNos) {
                const optionNosArray = optionNos.split('_');
                let optNo1 = optionNosArray[0];
                let optNo2 = optionNosArray[1];
                let optNo3 = optionNosArray[2];

                // OptionDetailDTOs 배열 해체하여 단일 배열로 만들기
                const flatDTOs = OptionDetailDTOs.flat();
                console.log(flatDTOs);

                // 사용자 입력과 DTO의 값 비교하여 일치하는 DTO 반환
                // 숫자라서 == 써야함..
                const matchingDTO = flatDTOs.find(dto =>
                    dto.optNo1 == optNo1 && dto.optNo2 == optNo2 && dto.optNo3 == optNo3
                );
                return matchingDTO;
            }


            /* 3일후 계산하여 배송예정일에 출력 */
            document.addEventListener('DOMContentLoaded', function () {
                // 오늘 날짜 구하기
                var today = new Date();

                // 3일 후의 날짜 계산
                var deliveryDate = new Date(today);
                deliveryDate.setDate(today.getDate() + 3); // 오늘 날짜에 3일을 더함

                // 도착 예정 날짜 형식 지정
                var dayNames = ['일', '월', '화', '수', '목', '금', '토'];
                var dayOfWeek = dayNames[deliveryDate.getDay()]; // 요일
                var month = deliveryDate.getMonth() + 1; // 월 (0부터 시작하므로 +1 필요)
                var dayOfMonth = deliveryDate.getDate(); // 일

                // 도착 예정 날짜 문자열 생성 (예: "모레(금) 7/8 도착예정")
                var arrivalDateString = `모레(${dayOfWeek}) ${month}/${dayOfMonth} 도착예정`;

                // 도착 예정 날짜 출력
                var arrivalElement = document.getElementById('arrivalDate');
                arrivalElement.textContent = arrivalDateString;
            });

            /* +, - 버튼 눌렀을 때 동작하며 할인 금액 계산하여 총 액에나타나게함 */
            function changeNum(change) {
                var numInput = event.target.parentNode.querySelector('input');
                var inputPrice = document.getElementById("totalPrice");
                //파싱된 형태 그대로 가져와서 ',' 쉼표를 제거하여 사용함.
                var priceText = document.getElementById("disPrice").innerText;
                var price = parseFloat(priceText.replace(',', ''));

                var currentValue = parseInt(numInput.value) + change;
                // 최소값은 1, 최대값은 99로 제한
                if (currentValue < 1) {
                    currentValue = 1;
                } else if (currentValue > 99) {
                    currentValue = 99;
                }

                numInput.value = currentValue; // 변경된 값 적용

                var totalPrice = price * currentValue;
                if (!isNaN(totalPrice)) {
                    // 금액 콤마 표시를 위해 포멧팅
                    var formattedTotalPrice = new Intl.NumberFormat('ko-KR').format(totalPrice);
                    inputPrice.innerText = formattedTotalPrice;
                } else {
                    inputPrice.innerText = "0";
                }
            }


            /*
                구매하기 버튼 누를시 넘겨야하는 정보
                - prodNo
                - optDetailNo // 선택된 상품 옵션 수량조절 태그쪽에 input의 value값으로 숨겨둠
                - 상품 수량
                - 회원 아이디
             */

            // 찜하기(wish) 버튼 눌렀을 때 호출되는 함수
            function btnWish(){

                const userIdElement = document.getElementById('userForDirect');
                if (!userIdElement) {
                    alert("로그인 후 이용 가능합니다.");
                    window.location.href = "/lotteon/member/login";
                }else {
                    const userId = userIdElement.value;
                    const prodNoValue = document.getElementById('prodNo');
                    const prodNo = prodNoValue.innerText;
                    console.log(userId);
                    console.log(prodNo);
                    // 카운터 문서객체 생성
                    const prodCounts = document.querySelectorAll('input.numInput[name="num"]');
                    // 옵션 문서객체 생성
                    const optDetailsNo = document.querySelectorAll('input[name="optDetailNo"]');
                    // 옵션과 갯수 리스트 저장할 배열 선언
                    const jsonDataArray = [];

                    // optDetailNo 갯수만큼 반복하며 jsonData 를 저장함
                    optDetailsNo.forEach((optDetailsNo, index) => {
                        const optNoValue = optDetailsNo.value;
                        const prodCountValue = prodCounts[index].value;

                        console.log("prodOpt : " + optNoValue);
                        console.log("count : " + prodCountValue);

                        const jsonData = {
                            "userId" : userId,
                            "prodNo" : prodNo,
                            "optNo" : optNoValue,
                            "wishCount" : prodCountValue
                        };
                        jsonDataArray.push(jsonData);
                    });
                    console.log(jsonDataArray);

                    const data = fetchPost(`/lotteon/product/view/insertWish`, jsonDataArray)
                        .then(response => {
                            console.log(response);

                            if (confirm("찜하기로 이동하시겠습니까?")){
                                window.location.href = "위시페이지 주소가...?";
                            }
                        })
                        .catch(error => {
                            console.error("추가에 실패했습니다.",error);
                            alert("추가에 실패했습니다.");
                        });
                }
            }

            // 주문(order) 버튼 눌렀을 때 호출되는 함수
            function btnOrder(){
                console.log('order');
                const userIdElement = document.getElementById('userForDirect');
                if (!userIdElement) {
                    alert("로그인 후 이용 가능합니다.");
                    window.location.href = "/lotteon/member/login";
                }else {
                    const userId = userIdElement.value;
                    const prodNoValue = document.getElementById('prodNo');
                    const prodNo = prodNoValue.innerText;
                    console.log(userId);
                    console.log(prodNo);
                    // 카운터 문서객체 생성
                    const prodCounts = document.querySelectorAll('input.numInput[name="num"]');
                    // 옵션 문서객체 생성
                    const optDetailsNo = document.querySelectorAll('input[name="optDetailNo"]');
                    // 옵션과 갯수 리스트 저장할 배열 선언
                    const jsonDataArray = [];

                    // optDetailNo 갯수만큼 반복하며 jsonData 를 저장함
                    optDetailsNo.forEach((optDetailsNo, index) => {
                        const optNoValue = optDetailsNo.value;
                        const prodCountValue = prodCounts[index].value;

                        const jsonData = {
                            "userId" : userId,
                            "prodNo" : prodNo,
                            "optDetailNo" : optNoValue,
                            "count" : prodCountValue
                        };
                        jsonDataArray.push(jsonData);
                    });
                    console.log(jsonDataArray);

                    const data = fetchPost(`/lotteon/product/orderDirect?userId=${userId}`, jsonDataArray)
                        .then(response => {
                            console.log(response);

                        })
                        .catch(error => {

                        });
                }
            }

            // 장바구니(cart) 버튼 눌렀을 때 호출되는 함수
            function btnCart(){
                const userIdElement = document.getElementById('userForDirect');
                if (!userIdElement) {
                    alert("로그인 후 이용 가능합니다.");
                    window.location.href = "/lotteon/member/login";
                }else {
                    const userId = userIdElement.value;
                    const prodNoValue = document.getElementById('prodNo');
                    const prodNo = prodNoValue.innerText;
                    console.log(userId);
                    console.log(prodNo);
                    // 카운터 문서객체 생성
                    const prodCounts = document.querySelectorAll('input.numInput[name="num"]');
                    // 옵션 문서객체 생성
                    const optDetailsNo = document.querySelectorAll('input[name="optDetailNo"]');
                    // 옵션과 갯수 리스트 저장할 배열 선언
                    const jsonDataArray = [];

                    // optDetailNo 갯수만큼 반복하며 jsonData 를 저장함
                    optDetailsNo.forEach((optDetailsNo, index) => {
                        const optNoValue = optDetailsNo.value;
                        const prodCountValue = prodCounts[index].value;

                        const jsonData = {
                            "userId" : userId,
                            "prodNo" : prodNo,
                            "optNo" : optNoValue,
                            "count" : prodCountValue
                        };
                        jsonDataArray.push(jsonData);
                    });
                    console.log(jsonDataArray);

                    const data = fetchPost(`/lotteon/product/view/insertCart?userId=${userId}`, jsonDataArray)
                        .then(response => {
                            console.log(response);

                            if (confirm("장바구니로 이동하시겠습니까?")){
                                window.location.href = "/lotteon/product/cart?userId=" + userId;
                            }
                        })
                        .catch(error => {
                            console.error("장바구니 추가에 실패했습니다.",error);
                            alert("장바구니 추가에 실패했습니다.");
                        });
                }

            }

        </script>

        <!-- 제목, 페이지 네비게이션 -->
        <nav>
            <script th:src="@{/js/util.js}"></script>
            <h1>상품보기</h1>
            <p>
                HOME > <span>패션·의류·뷰티</span> > <strong>남성의류</strong>
            </p>
        </nav>

        <!-- 상품 전체 정보 내용 -->
        <article class="info">
            <div class="image">
                <img th:src="@{/uploads/__${product.thumb456}__}" alt="상품이미지"/>
            </div>
            <div class="summary">
                <nav>
                    <h1>(주)[[${product.prodCompany}]]</h1>
                    <h2>상품번호&nbsp;:&nbsp;<span id="prodNo">[[${product.prodNo}]]</span></h2>
                </nav>
                <nav>
                    <h3>[[${product.prodName}]]</h3>
                    <p>[[${product.prodInfo}]]</p>
                    <h5 class="rating star4"><a href="#">상품평보기</a></h5>
                </nav>
                <nav>
                    <div class="org_price">
                        <del th:text="${#numbers.formatInteger(product.prodPrice, 3, 'COMMA')}" id="prodPrice"></del>
                        <span>[[${product.prodDiscount}]]%</span>
                    </div>
                    <div class="dis_price">
                        <ins id="disPrice" th:text="${#numbers.formatInteger((product.prodPrice * (100 - product.prodDiscount) * 0.01), 3, 'COMMA')}"></ins>
                    </div>
                </nav>
                <nav>
                    <span class="delivery">무료배송</span>
                    <span class="arrival" id="arrivalDate"></span>
                    <span class="desc">본 상품은 국내배송만 가능합니다.</span>
                </nav>
                <nav>
                    <span class="card cardFree"><i>아이콘</i>무이자할부</span>&nbsp;&nbsp;
                    <span class="card cardAdd"><i>아이콘</i>카드추가혜택</span>
                </nav>
                <nav>
                    <span class="origin">원산지-상세설명 참조</span>
                </nav>
                <img th:src="@{/images/vip_plcc_banner.png}" alt="100원만 결제해도 1만원 적립!" class="banner" />

                <!--
                    옵션 선택 박스 (product.css 515줄)
                    - 옵션이 없는 상품은 옵션 선택 태그 출력 x
                    - 옵션이 있는 상품은 옵션을 선택하지 않으면 다음으로 넘어가지 않음
                -->
                <div class="prodOption" th:each="option : ${OptionDTOs.optionMap}">
                    <input type="hidden"  class="selectOptionNo"/>
                    <button class="btnSelectOption" onclick="dropOption()" th:text="${option.key}"></button>
                    <ul class="SelectOption">
                        <label th:each="value : ${option.value}">
                            <li onclick="selectOption()" th:text="${value.optValue}"></li>
                            <input type="hidden" class="optionNo" th:value="${value.optNo}">
                        </label>
                    </ul>
                </div>

                <div class="selectedOption">
                    <div th:if="${OptionDTOs.optionMap.isEmpty()}">
                        <h4 th:text="${product.prodName}">상품 이름</h4>
                        <div class="count">
                            <button class="decrease" onclick="changeNum(-1)">-</button>
                            <input type="text" name="num" class="numInput" value="1" oninput="changeNum(0)"/>
                            <button class="increase" onclick="changeNum(1)">+</button>
                        </div>
                        <div class="optionPrice">
                            <span>
                                <span th:text="${#numbers.formatInteger(product.prodPrice, 3, 'COMMA')}" style="font-size: 20px"></span>원
                            </span>
                            <input type="hidden" name="optDetailNo" value=""/>
                        </div>
                    </div>
                </div>

                <div class="total">
                    <span id="totalPrice" th:text="${#numbers.formatInteger((product.prodPrice * (100 - product.prodDiscount) * 0.01), 3, 'COMMA')}"></span>
                    <em>총 상품금액</em>
                </div>

                <div class="button">
                    <th:block th:if="${#authentication.principal != 'anonymousUser'}">
                        <input type="hidden"  name="user" id="userForDirect" th:value="${#authentication.principal.user.userId}">
                    </th:block>
                    <input type="button" onclick="btnOrder()" class="order" value="구매하기"/>
                    <input type="button" onclick="btnCart()" class="cart" value="장바구니"/>
                    <input type="button" onclick="btnWish()" class="wish"  value="찜하기"/>
                </div>
            </div>
        </article>

        <!-- 상품 정보 내용 -->
        <article class="detail">
            <nav>
                <h1>상품정보</h1>
            </nav>
            <!-- 상품상세페이지 이미지 -->
            <img th:src="@{/uploads/__${product.thumb940}__}" alt="상세페이지1">
        </article>

        <!-- 상품 정보 제공 고시 내용 -->
        <article class="notice">
            <nav>
                <h1>상품 정보 제공 고시</h1>
                <p>[전자상거래에 관한 상품정보 제공에 관한 고시] 항목에 의거 등록된 정보입니다.</p>
            </nav>
            <table border="0">
                <tr>
                    <td>상품번호</td>
                    <td>[[${product.prodNo}]]</td>
                </tr>
                <tr>
                    <td>상품상태</td>
                    <td>[[${product.prodStatus}]]</td>
                </tr>
                <tr>
                    <td>부가세 면세여부</td>
                    <td>[[${product.prodTax}]]</td>
                </tr>
                <tr>
                    <td>영수증발행</td>
                    <td>[[${product.prodReceipt}]]</td>
                </tr>
                <tr>
                    <td>사업자구분</td>
                    <td>[[${product.prodBusinessType}]]</td>
                </tr>
                <tr>
                    <td>브랜드</td>
                    <td>[[${product.prodCompany}]]</td>
                </tr>
                <tr>
                    <td>원산지</td>
                    <td>[[${product.prodOrg}]]</td>
                </tr>
            </table>
            <table border="0">
                <tr>
                    <td>제품소재</td>
                    <td>상세정보 직접입력</td>
                </tr>
                <tr>
                    <td>색상</td>
                    <td>상세정보 직접입력</td>
                </tr>
                <tr>
                    <td>치수</td>
                    <td>상세정보 직접입력</td>
                </tr>
                <tr>
                    <td>제조자/수입국</td>
                    <td>상세정보 직접입력</td>
                </tr>
                <tr>
                    <td>제조국</td>
                    <td>상세정보 직접입력</td>
                </tr>
                <tr>
                    <td>취급시 주의사항</td>
                    <td>상세정보 직접입력</td>
                </tr>
                <tr>
                    <td>제조연월</td>
                    <td>상세정보 직접입력</td>
                </tr>
                <tr>
                    <td>품질보증기준</td>
                    <td>상세정보 직접입력</td>
                </tr>
                <tr>
                    <td>A/S 책임자와 전화번호</td>
                    <td>상세정보 직접입력</td>
                </tr>
                <tr>
                    <td>주문후 예상 배송기간</td>
                    <td>상세정보 직접입력</td>
                </tr>
                <tr>
                <td colspan="2">구매, 교환, 반품, 배송, 설치 등과 관련하여 추가비용, 제한조건 등의 특이사항이 있는 경우</td>
                </tr>
            </table>
            <p class="notice">
                소비자가 전자상거래등에서 소비자 보호에 관한 법률 제 17조 제1항 또는 제3항에 따라 청약철회를 하고
                동법 제 18조 제1항 에 따라 청약철회한 물품을 판매자에게 반환하였음에도 불구 하고 결제 대금의
                환급이 3영업일을 넘게 지연된 경우, 소비자 는 전자상거래등에서 소비자보호에 관한 법률 제18조
                제2항 및 동법 시행령 제21조 2에 따라 지연일수에 대하여 전상법 시행령으로 정하는 이율을 곱하여
                산정한 지연이자(“지연배상금”)를 신청할 수 있습니다. 아울러, 교환∙반품∙보증 및 결제대금의
                환급신청은 [나의쇼핑정보]에서 하실 수 있으며, 자세한 문의는 개별 판매자에게 연락하여 주시기 바랍니다.
            </p>
        </article>

        <!-- 상품 리뷰 내용 -->
        <article class="review">
            <nav>
                <h1>상품리뷰</h1>

            </nav>
            <ul>
                <li>
                    <div>
                        <h5 class="rating star4">상품평</h5>
                        <span>seo******	2018-07-10</span>
                    </div>
                    <h3>상품명1/BLUE/L</h3>
                    <p>
                        가격대비 정말 괜찮은 옷이라 생각되네요 핏은 음...제가 입기엔 어깨선이 맞고 루즈핏이라 하기도 좀 힘드네요.
                        아주 약간 루즈한정도...?그래도 이만한 옷은 없다고 봅니다 깨끗하고 포장도 괜찮고 다음에도 여기서 판매하는
                        제품들을 구매하고 싶네요 정말 만족하고 후기 남깁니다 많이 파시길 바래요 ~ ~ ~
                    </p>
                </li>
                <li>
                    <div>
                        <h5 class="rating star4">상품평</h5>
                        <span>seo******	2018-07-10</span>
                    </div>
                    <h3>상품명1/BLUE/L</h3>
                    <p>
                        가격대비 정말 괜찮은 옷이라 생각되네요 핏은 음...제가 입기엔 어깨선이 맞고 루즈핏이라 하기도 좀 힘드네요.
                        아주 약간 루즈한정도...?그래도 이만한 옷은 없다고 봅니다 깨끗하고 포장도 괜찮고 다음에도 여기서 판매하는
                        제품들을 구매하고 싶네요 정말 만족하고 후기 남깁니다 많이 파시길 바래요 ~ ~ ~
                    </p>
                </li>
                <li>
                    <div>
                        <h5 class="rating star4">상품평</h5>
                        <span>seo******	2018-07-10</span>
                    </div>
                    <h3>상품명1/BLUE/L</h3>
                    <p>
                        가격대비 정말 괜찮은 옷이라 생각되네요 핏은 음...제가 입기엔 어깨선이 맞고 루즈핏이라 하기도 좀 힘드네요.
                        아주 약간 루즈한정도...?그래도 이만한 옷은 없다고 봅니다 깨끗하고 포장도 괜찮고 다음에도 여기서 판매하는
                        제품들을 구매하고 싶네요 정말 만족하고 후기 남깁니다 많이 파시길 바래요 ~ ~ ~
                    </p>
                </li>
                <li>
                    <div>
                        <h5 class="rating star4">상품평</h5>
                        <span>seo******	2018-07-10</span>
                    </div>
                    <h3>상품명1/BLUE/L</h3>
                    <p>
                        가격대비 정말 괜찮은 옷이라 생각되네요 핏은 음...제가 입기엔 어깨선이 맞고 루즈핏이라 하기도 좀 힘드네요.
                        아주 약간 루즈한정도...?그래도 이만한 옷은 없다고 봅니다 깨끗하고 포장도 괜찮고 다음에도 여기서 판매하는
                        제품들을 구매하고 싶네요 정말 만족하고 후기 남깁니다 많이 파시길 바래요 ~ ~ ~
                    </p>
                </li>
                <li>
                    <div>
                        <h5 class="rating star4">상품평</h5>
                        <span>seo******	2018-07-10</span>
                    </div>
                    <h3>상품명1/BLUE/L</h3>
                    <p>
                        가격대비 정말 괜찮은 옷이라 생각되네요 핏은 음...제가 입기엔 어깨선이 맞고 루즈핏이라 하기도 좀 힘드네요.
                        아주 약간 루즈한정도...?그래도 이만한 옷은 없다고 봅니다 깨끗하고 포장도 괜찮고 다음에도 여기서 판매하는
                        제품들을 구매하고 싶네요 정말 만족하고 후기 남깁니다 많이 파시길 바래요 ~ ~ ~
                    </p>
                </li>
            </ul>
            <div class="paging">
                <span class="prev">
                    <a href="#"><&nbsp;이전</a>
                </span>
                <span class="num">
                    <a href="#" class="on">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#">7</a>
                </span>
                <span class="next">
                    <a href="#">다음&nbsp;></a>
                </span>
            </div>

        </article>

        <article class="review">
            <nav>
                <h1>상품 문의</h1>
            </nav>
            <a href="#" class="prodQnaBtn">문의하기</a>
            <p class="prodQnaNotice">
                구매한 상품의 취소/반품은 마이페이지 구매내역에서 신청 가능합니다.<br>
                상품문의 및 후기게시판을 통해 취소나 환불, 반품 등은 처리되지 않습니다.<br>
                가격, 판매자, 교환/환불 및 배송 등 해당 상품 자체와 관련 없는 문의는 고객센터 내 1:1 문의하기를 이용해주세요.<br>
                "해당 상품 자체"와 관계없는 글, 양도, 광고성, 욕설, 비방, 도배 등의 글은 예고 없이 이동, 노출제한, 삭제 등의 조치가 취해질 수 있습니다.<br>
                공개 게시판이므로 전화번호, 메일 주소 등 고객님의 소중한 개인정보는 절대 남기지 말아주세요.
            </p>
            <ul>
                <li>
                    <div>
                        <h5 style="font-size: 16px; font-weight: bold">문의</h5>
                        <span>seo******	2018-07-10</span>
                    </div>
                    <h3>상품명1/BLUE/L</h3>
                    <p>
                        제품 사용 기한은 어떻게 되나요??
                    </p>
                    <!--답변-->
                    <ul>
                        <li>
                            <div>
                                <h5>답변</h5>
                                <span>2018-07-10</span>
                            </div>
                            <p>
                                구매 후 1년 사용가능합니다.
                            </p>
                        </li>
                    </ul>
                </li>

                <li>
                    <div>
                        <h5 style="font-size: 16px; font-weight: bold">문의</h5>
                        <span>seo******	2018-07-10</span>
                    </div>
                    <h3>상품명1/BLUE/L</h3>
                    <p>
                        재입고 언제되는지 알수있나요?
                    </p>
                    <!--답변-->
                    <ul>
                        <li>
                            <div>
                                <h5>답변</h5>
                                <span>2018-07-10</span>
                            </div>
                            <p>
                                한달 뒤에 재입고 됩니다.
                            </p>
                        </li>
                    </ul>
                </li>
            </ul>
        </article>

    </section>
    <!-- 상품 상세페이지 끝 -->
<!--내용 끝-->
</html>
