<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/adminLayout.html}">
<!--내용 시작-->
    <section id="admin-index" layout:fragment="content">
        <script th:inline="javascript">
            window.onload = function (){
                const monthCount = [[${monthCount}]];  // 최근 한달 일자별 주문 건수
                const monthPrice = [[${monthPrice}]];  // 최근 한달 일자별 주문 금액
                const dateArray = [];
                const countArray = [];
                const priceArray = [];

                const countKeys = Object.keys(monthCount);
                for (let i = countKeys.length - 1; i >= 0; i--) {
                    const key = countKeys[i];
                    const value = monthCount[key];
                    dateArray.push(key);
                    countArray.push(value);
                }
                const priceKeys = Object.keys(monthPrice);
                for (let i = priceKeys.length - 1; i >= 0; i--) {
                    const key = priceKeys[i];
                    const value = monthPrice[key];
                    priceArray.push(value);
                }


                new Chart(document.getElementById("line-chart1"), {
                    type: 'line',
                    data: {
                        labels: dateArray,
                        datasets: [{
                            data: countArray,
                            label: "Africa",
                            borderColor: "#3e95cd",
                            fill: false,
                            pointStyle: 'triangle'
                        }
                        ]
                    },
                    options: {
                        responsive: false,
                        title: {
                            display: true,
                            text: '최근 한달 주문 건수',
                            fontSize: 20,
                            color: '#111',
                        },legend: {
                            display: false // 라벨 숨기기
                        }
                    }
                });

                new Chart(document.getElementById("line-chart2"), {
                    type: 'line',
                    data: {
                        labels: dateArray,
                        datasets: [{
                            data: priceArray,
                            label: "Africa",
                            borderColor: "#3e95cd",
                            fill: false,
                            pointStyle: 'triangle'
                        }
                        ]
                    },
                    options: {
                        responsive: false,
                        title: {
                            display: true,
                            text: '최근 한달 주문 금액',
                            fontSize: 20,
                            color: '#111',
                        },legend: {
                            display: false // 라벨 숨기기
                        }
                    }
                });
            }

            function viewCountGraph() {
                const countGraph = document.getElementsByClassName('countGraph')[0];
                const priceGraph = document.getElementsByClassName('priceGraph')[0];
                countGraph.style.display = "flex";
                priceGraph.style.display = "none";
            }
            function viewPriceGraph() {
                const countGraph = document.getElementsByClassName('countGraph')[0];
                const priceGraph = document.getElementsByClassName('priceGraph')[0];
                countGraph.style.display = "none";
                priceGraph.style.display = "flex";
            }

        </script>
        <nav>
            <h3>관리자 메인</h3>
            <p>
                HOME > <strong>메인</strong>
            </p>
        </nav>

        <h4>쇼핑몰 운영현황</h4>
        <article>
            <!--나중에-->
        </article>

        <div>
            <div>
                <h4>공지사항</h4>
                <article>
                    <p>
                        <span>[공지] 판매자님들은 주기적인 비밀번호 변경을 하세요. 판매자님들은 주기적인 비밀번호 변경을 하세요.</span>
                        <span>20-07-08 12:23</span>
                    </p>
                    <p>
                        <span>[공지] 1주년 기념 신규가입 사은품 안내</span>
                        <span>20-07-08 12:23</span>
                    </p>
                    <p>
                        <span>[공지] 1주년 기념 신규가입 사은품 안내</span>
                        <span>20-07-08 12:23</span>
                    </p>
                    <p>
                        <span>[공지] 1주년 기념 신규가입 사은품 안내</span>
                        <span>20-07-08 12:23</span>
                    </p>
                    <p>
                        <span>[공지] 1주년 기념 신규가입 사은품 안내</span>
                        <span>20-07-08 12:23</span>
                    </p>
                </article>
            </div>

            <div>
                <h4>고객문의</h4>
                <article>
                    <p>
                        <span>[문의] 상품이 잘못 왔습니다.</span>
                        <span>20-07-08 12:23</span>
                    </p>
                    <p>
                        <span>[문의] 안녕하세요. 주문자 입니다. 구매한 상품에 문제가 있어서 이렇게 문의글을 남깁니다.</span>
                        <span>20-07-08 12:23</span>
                    </p>
                    <p>
                        <span>[문의] 상품이 1개 잘못 왔습니다.</span>
                        <span>20-07-08 12:23</span>
                    </p>
                    <p>
                        <span>[문의] 상품이 1개 잘못 왔습니다.</span>
                        <span>20-07-08 12:23</span>
                    </p>
                    <p>
                        <span>[문의] 상품이 1개 잘못 왔습니다.</span>
                        <span>20-07-08 12:23</span>
                    </p>
                </article>
            </div>
        </div>
    </section>
<!--내용 끝-->
</html>