<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/myLayout.html}">
<!--내용 시작-->
    <div id="my" layout:fragment="content">

        <script>
            function moveProdData() {
                // 상품평 쓰기 박스로 이름과 번호 전달하기
                const button = event.target; // 클릭한 버튼
                const confirm = button.parentNode; // 버튼의 부모
                const myOrderRow = confirm.parentNode // 버튼의 부모의 부모
                const myOrderInfo = myOrderRow.querySelector('.myOrderInfo') // 할아버지의 둘째
                const prodName = myOrderInfo.querySelector('.InfoProdName') // 상품 이름
                const detailNo = button.getAttribute('data-detailNo'); // 상품 번호
                const prodNo = button.id; // 상품 번호

                const popReview = document.getElementById('popReview'); // 상품평쓰기 창

                const productName = popReview.querySelector('.productName');
                const productNo = popReview.querySelector('.productNo');
                const prodDetailNo = popReview.querySelector('.detailNo');

                productName.innerText = prodName.innerText;
                productNo.value = prodNo;
                prodDetailNo.value = detailNo;
            }

            // 리뷰 제출 버튼
            function btnReviewSubmit() {
                const reviewForm = document.getElementsByClassName('reviewForm')[0]; // 상품평쓰기 창
                const popReview = document.getElementById('popReview'); // 상품평쓰기 창
                const revScore = popReview.querySelector('.revScore').value;
                const revContent = popReview.querySelector('#revContent').value;
                const revThumb = popReview.querySelector('#revThumb').value;
                console.log(revScore)
                console.log(revContent)
                console.log(revThumb)
                if (revScore != "" && revContent != "" && revThumb != "") {
                    reviewForm.submit();
                }else{

                    alert("항목을 빠짐없이 입력해주세요.");
                }
            }

           window.onload = function () {
               /* 별 */
               const stars = document.querySelectorAll('.star');

               stars.forEach(star => {
                   star.addEventListener('mouseover', function() {
                       const value = this.getAttribute('data-value');
                       highlightStars(value);
                   });

                   star.addEventListener('mouseleave', function() {
                       const ratedValue = document.querySelector('.ratingValue').getAttribute('data-rated');
                       highlightStars(ratedValue);
                   });

                   star.addEventListener('click', function() {
                       const value = this.getAttribute('data-value');
                       document.querySelector('.ratingValue').setAttribute('data-rated', value);
                       document.querySelector('.revScore').value = value;
                       highlightStars(value);
                       // 여기에 값 설정을 위한 코드 추가
                   });
               });

               function highlightStars(value) {
                   stars.forEach(star => {
                       if (star.getAttribute('data-value') <= value) {
                           star.classList.add('clicked');
                       } else {
                           star.classList.remove('clicked');
                       }
                   });
               }

               // Review - 별점
               let rating = document.getElementsByClassName("rating");
               Array.from(rating).forEach(function (element) {
                   const revScore = parseInt(element.innerText);
                   switch (revScore){
                       case 1:
                           element.classList.add('star1');
                           break;
                       case 2:
                           element.classList.add('star2');
                           break;
                       case 3:
                           element.classList.add('star3');
                           break;
                       case 4:
                           element.classList.add('star4');
                           break;
                       case 5:
                           element.classList.add('star5');
                           break;
                   }
               });

           }

           //changePoint 사용일때 - 출력
            const changePoint = document.getElementById("changePoint");


        </script>
        <!--여기까지-->
        <nav>
            <div>
                <a th:href="@{/my/home(userId=${#authentication.principal.user.userId})}"><img th:src="@{/images/my/my_logo.jpg}" alt="나의쇼핑정보"></a>

                <div class="UserInfo">
                    <p>홍길동</p>
                    <p>롯데 ON ACE</p>
                </div>

                <ol>
                    <li><a th:href="@{/my/order(userId=${#authentication.principal.user.userId})}">주문·배송<span class="delivery" th:text="${session.countOrder}"></span></a></li>
                    <li><a th:href="@{/my/coupon(userId=${#authentication.principal.user.userId})}">할인쿠폰<span class="coupon" th:text="${session.couponCount}"></span></a></li>
                    <li><a th:href="@{/my/point(userId=${#authentication.principal.user.userId})}">포인트<span class="point" th:text="${#numbers.formatInteger(session.pointBalance,3,'COMMA')}"></span></a></li>
                    <li><a th:href="@{/my/qna(userId=${#authentication.principal.user.userId})}">문의내역<span class="qna">1</span></a></li>
                </ol>
            </div>
        </nav>
        <div class="home">
            <ul>
                <span class="menu_else"></span>
                <li><a th:href="@{/my/order(userId=${#authentication.principal.user.userId})}">전체주문내역</a></li>
                <li><a th:href="@{/my/wish(userId=${#authentication.principal.user.userId})}">관심상품</a></li>
                <li><a th:href="@{/my/point(userId=${#authentication.principal.user.userId})}">포인트내역</a></li>
                <li><a th:href="@{/my/coupon(userId=${#authentication.principal.user.userId})}">쿠폰</a></li>
                <li><a th:href="@{/my/review(userId=${#authentication.principal.user.userId})}">나의리뷰</a></li>
                <li><a th:href="@{/my/qna(userId=${#authentication.principal.user.userId}, table='qna')}">문의하기</a></li>
                <li><a th:href="@{/my/info(userId=${#authentication.principal.user.userId})}">나의설정</a></li>
                <!--회원가입구현되면 위에 파라미터 바꾸기-->
            </ul>

            <section>
                <a href="#"><img th:src="@{/images/my/my_banner1.jpg}" alt="패션, 타운 하나로 끝" class="banner"></a>

                <article class="latest" >
                    <h3>최근주문내역</h3>
                    <a th:href="@{/my/order(userId=${#authentication.principal.user.userId})}" class="more">더보기</a>
                    <div class="myOrderList">
                        <div class="orderByCompany latest" th:each="linkedMap : ${myOrder}">
                            <div class="myOrderTitle">
                                <p th:text="${linkedMap.value.get(0).detailDate}"></p>
                                <p>주문번호<span th:text="${linkedMap.key}"></span></p>
                                <p>
                                    <img th:src="@{/images/icon-arrow-top.png}" onclick="accordionBtn()"/>
                                </p>
                            </div>
                            <div class="myOrderRow" th:each="orderList : ${linkedMap.value}">
                                <div><img th:src="@{/uploads/__${orderList.thumb190}__}"></div>
                                <div class="myOrderInfo">
                                    <p th:text="${orderList.prodCompany}"></p>
                                    <p class="InfoProdName" th:text="${orderList.prodName}"></p>
                                    <p th:text="${orderList.count}"></p>
                                    <p th:text="${#numbers.formatInteger(orderList.detailPrice,3,'COMMA')}"></p>
                                </div>
                                <div th:text="${orderList.detailStatus}"></div>
                                <div class="confirm">
                                    <span>수취확인</span>
                                    <span class="review" onclick="moveProdData()" th:id="${orderList.prodNo}">상품평쓰기</span>
                                    <span>반품신청</span>
                                    <span>교환신청</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="point">
                    <h3>포인트적립내역</h3>
                    <a th:href="@{/my/point(userId=${#authentication.principal.user.userId})}" class="more">더보기</a>
                    <table border="0">
                        <tr>
                            <th>날짜</th>
                            <th>구분</th>
                            <th>적립금액</th>
                            <th>비고</th>
                        </tr>
                        <tr th:each="point : ${myPoint}">
                            <td th:text="${#strings.substring(point.changeDate, 0, 10)}"></td>
                            <td id="changeType" th:text="${point.changeType}"></td>
                            <td id="changePoint">
                                <span th:if="${point.changeType == '사용'}">-</span>
                                <span th:text="${#numbers.formatInteger(point.changePoint,3,'COMMA')}"></span>
                            </td>
                            <td th:text="${point.changeCode}"></td>
                        </tr>
                    </table>
                </article>
                <article class="review">
                    <h3>상품평</h3>
                    <a th:href="@{/my/review(userId=${#authentication.principal.user.userId})}" class="more">더보기</a>
                    <table border="0">
                        <tr >
                            <th>번호</th>
                            <th>이미지</th>
                            <th>상품명</th>
                            <th>내용</th>
                            <th>평점</th>
                            <th>작성일</th>
                        </tr>
                        <tr th:each="eachReviewPage : ${myReviewPage.dtoList} ">
                            <td class="no" th:text="${eachReviewPage.revNo}"></td>
                            <td>
                                <img th:src="@{/uploads/__${eachReviewPage.revThumb}__}" style="width: 90px;">
                            </td>
                            <td class="prodName">
                                <a href="#" th:text="${eachReviewPage.prodName}"></a>
                            </td>
                            <td class="content" th:text="${eachReviewPage.revContent}"></td>
                            <td class="score">
                                <span class="rating" th:text="${eachReviewPage.revScore}"></span>
                            </td>
                            <td class="date" th:text="${#temporals.format(eachReviewPage.revAddDate, 'yyyy-MM-dd')}"></td>
                        </tr>
                    </table>
                </article>

                <article class="qna">
                    <h3>문의내역</h3>
                    <a th:href="@{/my/qna(userId=${#authentication.principal.user.userId})}" class="more">더보기</a>
                    <table border="0">
                        <tr>
                            <th>번호</th>
                            <th>문의채널</th>
                            <th>문의유형</th>
                            <th>제목</th>
                            <th>작성일</th>
                            <th>상태</th>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>고객센터</td>
                            <td>주문/결제</td>
                            <td>신용카드 결제 중 오류가 난 경우 어떻게 하나요?</td>
                            <td>2024-12-12</td>
                            <td><span class="notAnswerYet">검토중</span></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>고객센터</td>
                            <td>주문/결제</td>
                            <td>신용카드 결제 중 오류가 난 경우 어떻게 하나요?</td>
                            <td>2024-12-12</td>
                            <td><span class="answered">답변완료</span></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>판매자게시판</td>
                            <td>배송</td>
                            <td>배송기간이 보통 얼마나 걸리나요?</td>
                            <td>2024-12-12</td>
                            <td><span class="answered">답변완료</span></td>
                        </tr>
                    </table>
                </article>

                <article class="myinfo">
                    <h3>확인해주세요!</h3>

                    <div>
                        <div class="address">
                            <span>기본 배송지설정</span>
                            <a href="#" class="setting">변경</a>
                        </div>
                        <div class="email">
                            <span>email 설정</span>
                            <a href="#" class="setting">변경</a>
                            <p>
                                <span>abc123@gmail.com</span><br/>
                                (최종수정일 <span>2021-12-10</span>)
                            </p>
                        </div>
                        <div class="hp">
                            <span>휴대폰 설정</span>
                            <a href="#" class="setting">변경</a>
                            <p>
                                <span>abc123@gmail.com</span><br/>
                                (최종수정일 <span>2021-12-10</span>)
                            </p>
                        </div>
                    </div>
                </article>
            </section>
        </div>
    </div>
<!--내용 끝-->
</html>