<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/myLayout.html}">

<!--내용 시작-->
    <div id="my" layout:fragment="content">
        <script th:inline="javascript">
            // 주문 번호별 상품 리스트 아코디언
            function accordionBtn() {
                const button = event.target; // 클릭한 버튼
                const btnParent = button.parentNode; // 버튼의 부모
                const myOrderTitle = btnParent.parentNode; // 부모의 부모
                const orderByCompany = myOrderTitle.parentNode; // 부모의 부모의 부모
                const myOrderRowAll = orderByCompany.querySelectorAll('.myOrderRow') // myOrderRow들

                // myOrderRow들을 하나씩 순회
                Array.from(myOrderRowAll).forEach(function (myOrderRow) {
                    // 현재 myOrderRow의 display 상태를 체크해서 접기 or 펼치기
                    if (myOrderRow.style.display === "none") {
                        myOrderRow.style.display = "flex"; // 펼치기
                        button.src = "/lotteon/images/icon-arrow-top.png";
                    }else {
                        myOrderRow.style.display = "none"; // 접기
                        button.src = "/lotteon/images/icon-arrow-bottom.png";
                    }
                })
            }

            // 상품평 쓰기 박스로 이름과 번호 전달하기
            function moveProdData() {
                const button = event.target; // 클릭한 버튼
                const confirm = button.parentNode; // 버튼의 부모
                const myOrderRow = confirm.parentNode // 버튼의 부모의 부모
                const myOrderInfo = myOrderRow.querySelector('.myOrderInfo'); // 할아버지의 둘째
                const prodName = myOrderInfo.querySelector('.InfoProdName'); // 상품 이름
                const detailNo = button.getAttribute('data-detailNo'); // 상품 번호
                const prodNo = button.id; // 상품 번호
                const popReview = document.getElementById('popReview'); // 상품평쓰기 창
                const productName = popReview.querySelector('.productName');
                const productNo = popReview.querySelector('.productNo');
                const prodDetailNo = popReview.querySelector('.detailNo');

                productName.innerText = prodName.innerText;
                productNo.value = prodNo;
                prodDetailNo.value = detailNo;
            }

            // 리뷰 제출 버튼
            function btnReviewSubmit() {
                const reviewForm = document.getElementsByClassName('reviewForm')[0]; // 상품평쓰기 창
                const popReview = document.getElementById('popReview'); // 상품평쓰기 창
                const revScore = popReview.querySelector('.revScore').value;
                const revContent = popReview.querySelector('#revContent').value;
                const revThumb = popReview.querySelector('#revThumb').value;
                console.log(revScore)
                console.log(revContent)
                console.log(revThumb)
                if (revScore != "" && revContent != "" && revThumb != "") {
                    reviewForm.submit();
                }else{
                    alert("항목을 빠짐없이 입력해주세요.");
                }
            }

            window.onload = function () {
                /* 별 */
                const stars = document.querySelectorAll('.star');

                stars.forEach(star => {
                    star.addEventListener('mouseover', function () {
                        const value = this.getAttribute('data-value');
                        highlightStars(value);
                    });

                    star.addEventListener('mouseleave', function () {
                        const ratedValue = document.querySelector('.ratingValue').getAttribute('data-rated');
                        highlightStars(ratedValue);
                    });

                    star.addEventListener('click', function () {
                        const value = this.getAttribute('data-value');
                        document.querySelector('.ratingValue').setAttribute('data-rated', value);
                        document.querySelector('.revScore').value = value;
                        highlightStars(value);
                    });
                });

                function highlightStars(value) {
                    stars.forEach(star => {
                        if (star.getAttribute('data-value') <= value) {
                            star.classList.add('clicked');
                        } else {
                            star.classList.remove('clicked');
                        }
                    });
                }
            }

        </script>
        <!--마이페이지 상단 회원 정보-->
        <nav>
            <div>
                <a th:href="@{/my/home(userId=${#authentication.principal.user.userId})}"><img th:src="@{/images/my/my_logo.jpg}" alt="나의쇼핑정보"></a>

                <div class="UserInfo">
                    <p th:text="${#authentication.principal.user.userName}"></p>
                    <p th:text="${#authentication.principal.user.userGrade}"></p>
                </div>
                <ol>
                    <li><a th:href="@{/my/order(userId=${#authentication.principal.user.userId})}">주문·배송<span class="delivery" th:text="${session.countOrder}"></span></a></li>
                    <li><a th:href="@{/my/coupon(userId=${#authentication.principal.user.userId})}">할인쿠폰<span class="coupon" th:text="${session.couponCount}"></span></a></li>
                    <li><a th:href="@{/my/point(userId=${#authentication.principal.user.userId})}">포인트<span class="point" th:text="${#numbers.formatInteger(session.pointBalance,3,'COMMA')}"></span></a></li>
                    <li><a th:href="@{/my/qna(userId=${#authentication.principal.user.userId})}">문의내역<span class="qna"></span></a></li>
                </ol>
            </div>
        </nav>

        <div class="ordered">
            <!--마이페이지 사이드바-->
            <ul>
                <span class="menu_else"></span>
                <li><a th:href="@{/my/order(userId=${#authentication.principal.user.userId})}">전체주문내역</a></li>
                <li><a th:href="@{/my/wish(userId=${#authentication.principal.user.userId})}">관심상품</a></li>
                <li><a th:href="@{/my/point(userId=${#authentication.principal.user.userId})}">포인트내역</a></li>
                <li><a th:href="@{/my/coupon(userId=${#authentication.principal.user.userId})}">쿠폰</a></li>
                <li><a th:href="@{/my/review(userId=${#authentication.principal.user.userId})}">나의리뷰</a></li>
                <li><a th:href="@{/my/qna(userId=${#authentication.principal.user.userId}, cate='qna')}">문의하기</a></li>
                <li><a th:href="@{/my/info(userId=${#authentication.principal.user.userId})}">나의설정</a></li>
            </ul>

            <section>
                <th:block th:each="banner : ${banMyOrderList}" >
                <a th:href="@{http://__${banner.banLink}__}"><img th:src="@{/uploads/__${banner.banImgName}__}" alt="패션, 타운 하나로 끝" class="banner"></a>
                </th:block>
                <article class="latest">
                    <h3>전체주문내역</h3>
                    <!--주문내역 검색바-->
                    <div class="myOrderSearch">
                        <p>기간별 조회</p>
                        <a th:href="@{/my/order(userId=${#authentication.principal.user.userId})}">전체</a>
                        <a th:href="@{/my/order(userId=${#authentication.principal.user.userId}, cate='week')}">일주일</a>
                        <a th:href="@{/my/order(userId=${#authentication.principal.user.userId}, cate='halfmonth')}">15일</a>
                        <a th:href="@{/my/order(userId=${#authentication.principal.user.userId}, cate='month')}">1개월</a>
                        <a th:href="@{/my/order(userId=${#authentication.principal.user.userId}, cate='3month')}">3개월</a>
                        <a th:href="@{/my/order(userId=${#authentication.principal.user.userId}, cate='6month')}">6개월</a>
                        <a th:href="@{/my/order(userId=${#authentication.principal.user.userId}, cate='year')}">12개월</a>
                        <form th:action="@{/my/order}" method="get" class="searchCustomDate">
                            <input type="date" name="startDate">
                            <p style="display: inline-block; width: 10px;">~</p>
                            <input type="date" name="finalDate">
                            <input type="hidden" name="cate" value="custom">
                            <input type="hidden" name="userId" th:value="${#authentication.principal.user.userId}">
                            <input type="submit" value="검색">
                        </form>
                    </div>

                    <!--주문내역 목록-->
                    <div class="myOrderList">
                        <div class="orderByCompany latest" th:each="linkedMap : ${MyOrderDTOList.myOrderDTOList}">
                            <div class="myOrderTitle">
                                <p th:text="${linkedMap.value.get(0).detailDate}"></p>
                                <p>주문번호<span th:text="${linkedMap.key}"></span></p>
                                <p>
                                    <img th:src="@{/images/icon-arrow-top.png}" onclick="accordionBtn()"/>
                                </p>
                            </div>
                            <div class="myOrderRow" th:each="orderList : ${linkedMap.value}">
                                <div><img th:src="@{/uploads/__${orderList.thumb190}__}"></div>
                                <div class="myOrderInfo">
                                    <p th:text="${orderList.prodCompany}"></p>
                                    <p class="InfoProdName" th:text="${orderList.prodName}"></p>
                                    <p th:text="${orderList.count}"></p>
                                    <p th:text="${#numbers.formatInteger(orderList.detailPrice,3,'COMMA')}"></p>
                                </div>
                                <div th:text="${orderList.detailStatus}"></div>
                                <div class="confirm">
                                    <span>수취확인</span>
                                    <span class="review" onclick="moveProdData()" th:id="${orderList.prodNo}" th:data-detailNo="${orderList.detailNo}">상품평쓰기</span>
                                    <span>반품신청</span>
                                    <span>교환신청</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <p class="page">
                        <a th:if="${MyOrderDTOList.prev && MyOrderDTOList.cate == null}" th:href="@{/my/order(pg=${MyOrderDTOList.start -1}, userId=${#authentication.principal.user.userId})}">이전</a>
                        <a th:if="${MyOrderDTOList.prev && MyOrderDTOList.cate != null}" th:href="@{/my/order(pg=${MyOrderDTOList.start -1}, type=${MyOrderDTOList.type}, keyword=${MyOrderDTOList.keyword}, userId=${#authentication.principal.user.userId})}">이전</a>

                        <th:block th:each="num:${#numbers.sequence(MyOrderDTOList.start, MyOrderDTOList.end)}">
                            <a class="pageNum" th:if="${MyOrderDTOList.cate == null}" th:href="@{/my/order(pg=${num}, userId=${#authentication.principal.user.userId})}" th:class="${num == MyOrderDTOList.pg} ? 'on' : ''">[[${num}]]</a>
                            <a class="pageNum" th:if="${MyOrderDTOList.cate != null}" th:href="@{/my/order(pg=${num}, type=${MyOrderDTOList.type}, cate=${MyOrderDTOList.cate}, keyword=${MyOrderDTOList.keyword}, userId=${#authentication.principal.user.userId})}" th:class="${num == MyOrderDTOList.pg} ? 'on' : ''">[[${num}]]</a>
                        </th:block>

                        <a th:if="${MyOrderDTOList.next && MyOrderDTOList.cate == null}" th:href="@{/my/order(pg=${MyOrderDTOList.end + 1}, userId=${#authentication.principal.user.userId})}">다음</a>
                        <a th:if="${MyOrderDTOList.next && MyOrderDTOList.cate != null}" th:href="@{/my/order(pg=${MyOrderDTOList.end + 1}, type=${MyOrderDTOList.type}, keyword=${MyOrderDTOList.keyword}, userId=${#authentication.principal.user.userId})}">다음</a>
                    </p>
                </article>
            </section>
        </div>
    </div>
<!--내용 끝-->

</html>

