<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/myLayout.html}">
<!--내용 시작-->
    <div id="my" layout:fragment="content">
        <nav>
            <div>
                <a th:href="@{/my/home(userId=${#authentication.principal.user.userId})}"><img th:src="@{/images/my/my_logo.jpg}" alt="나의쇼핑정보"></a>
                <ol>
                    <li><a th:href="@{/my/order(userId=${#authentication.principal.user.userId})}">주문·배송<span class="delivery" th:text="${session.countOrder}"></span></a></li>
                    <li><a th:href="@{/my/coupon(userId=${#authentication.principal.user.userId})}">할인쿠폰<span class="coupon" th:text="${session.couponCount}"></span></a></li>
                    <li><a th:href="@{/my/point(userId=${#authentication.principal.user.userId})}">포인트<span class="point" th:text="${#numbers.formatInteger(session.pointBalance,3,'COMMA')}"></span></a></li>
                    <li><a th:href="@{/my/qna(userId=${#authentication.principal.user.userId})}">문의내역<span class="qna">1</span></a></li>
                </ol>
            </div>
        </nav>

        <div class="qna">
            <ul>
                <span class="menu_else"></span>
                <li><a th:href="@{/my/order(userId=${#authentication.principal.user.userId})}">전체주문내역</a></li>
                <li><a th:href="@{/my/wish(userId=${#authentication.principal.user.userId})}">관심상품</a></li>
                <li><a th:href="@{/my/point(userId=${#authentication.principal.user.userId})}">포인트내역</a></li>
                <li><a th:href="@{/my/coupon(userId=${#authentication.principal.user.userId})}">쿠폰</a></li>
                <li><a th:href="@{/my/review(userId=${#authentication.principal.user.userId})}">나의리뷰</a></li>
                <li><a th:href="@{/my/qna(userId=${#authentication.principal.user.userId})}">문의하기</a></li>
                <li><a th:href="@{/my/info(userId=${#authentication.principal.user.userId})}">나의설정</a></li>
            </ul>

            <section>
                <th:block th:each="banner : ${banMyOrderList}" >
                    <a th:href="@{http://__${banner.banLink}__}"><img th:src="@{/uploads/__${banner.banImgName}__}" alt="패션, 타운 하나로 끝" class="banner"></a>
                </th:block>
                <article>

                    <div class="myQnaNav">
                        <a class="navOn" href="#">고객문의</a>
                        <a href="#">상품문의</a>
                    </div>

                    <!--고객문의 테이블-->
                    <div class="myTableStyle">
                        <div class="myTableHead myQnaRow">
                            <div>번호</div>
                            <div>문의유형</div>
                            <div>제목</div>
                            <div>작성일</div>
                            <div>상태</div>
                        </div>
                        <div class="myTableBody myQnaRow">
                            <div>1</div>
                            <div>주문/결제</div>
                            <div><a href="#">신용카드 결제 중 오류가 난 경우 어떻게 하나요?</a></div>
                            <div>2024-12-12</div>
                            <div>답변완료</div>
                        </div>

                        <p class="page">
                            <a href="#" class="prev">이전</a>
                            <a href="#" class="num on">1</a>
                            <a href="#" class="num">2</a>
                            <a href="#" class="num">3</a>
                            <a href="#" class="next">다음</a>
                        </p>
                    </div>

                    <!--상품문의 테이블-->
                    <div class="myTableStyle">
                        <div class="myTableHead myQnaRow">
                            <div>번호</div>
                            <div>문의유형</div>
                            <div>제목</div>
                            <div>작성일</div>
                            <div>상태</div>
                        </div>
                        <div class="myTableBody myQnaRow">
                            <div>1</div>
                            <div>상품문의</div>
                            <div><a href="#">상품의 재입고 날짜는 언제인가요?</a></div>
                            <div>2024-12-12</div>
                            <div>답변완료</div>
                        </div>

                        <p class="page">
                            <a href="#" class="prev">이전</a>
                            <a href="#" class="num on">1</a>
                            <a href="#" class="num">2</a>
                            <a href="#" class="num">3</a>
                            <a href="#" class="next">다음</a>
                        </p>
                    </div>
                </article>
            </section>

        </div>
    </div>
<!--내용 끝-->
</html>