<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/memberLayout.html}">
<!--내용 시작-->
    <main id="member" layout:fragment="content">
        <div class="login">
            <nav>
                <h1>로그인</h1>
            </nav>
            <form method="POST">
                <div class="inputSet login" >

                    <div class="inputSet login validation">
                        <div>
                            <input name="userId" type="text" placeholder="아이디 또는 이메일 아이디" id="inId" title="아이디 또는 이메일 입력">
                        </div>
                    </div>
                </div>

                <div class="inputSet login">
                    <div class="passwordWrap" >
                        <div>
                            <input id="Password" type="password" placeholder="8~15자리 영문+숫자+특수문자 조합" name="userPw" autocomplete="new-password" title="비밀번호 입력 (8~15자리 영문+숫자+특수문자 조합)">
                        </div>
                    </div>
                </div>

                <input type="submit" class="loginBtn" value="로그인">

                <label class="save_id" for="">
                    <input type="checkbox">
                    <span>아이디 저장</span>
                </label>

                <a th:href="@{/member/findId}">아이디 찾기 | </a>
                <a th:href="@{/member/findPw}">비밀번호 찾기</a>

            </form>
            <img th:src="@{/images/member/member_certifi_logo.gif}" alt="banner">
        </div>
    </main>
<!--내용 끝-->
</html>