<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/csLayout.html}">
<!--내용 시작-->
  <section id="cs" layout:fragment="content">

<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
    <script>
      $(function(){
        $('.more').click(function(e){
          e.preventDefault();
          
          /*
          let item = $(this).parent().find('> li:nth-child(n+4)');
          let isVisible = item.is(':visible');

          console.log('isVisible : ' + isVisible);

          if(isVisible){
            item.slideUp(100);
          }else{
            item.slideDown(100);
          }
          */

        });
      });
</script>
        <div class="faq">
          <nav>
            <div>
              <p>홈<span>></span>자주묻는 질문</p>
            </div>
          </nav>
          <section class="list">
            <aside>
              <h2>자주묻는 질문</h2>
              <ul>
                <li class="on"><a href="#">회원</a></li>
                <li><a href="#">쿠폰/이벤트</a></li>
                <li><a href="#">주문/결제</a></li>
                <li><a href="#">배송</a></li>
                <li><a href="#">취소/반품/교환</a></li>
                <li><a href="#">여행/숙박/항공</a></li>
                <li><a href="#">안전거래</a></li>
              </ul>
            </aside>
            <article>              
              <nav>
                <h1>회원</h1>
                <h2>회원관련 자주묻는 질문 입니다.</h2>
              </nav>

              <div>
                <h3>가입</h3>
                <ul>
                  <li th:each="faq : ${list}">
                    <a th:href="@{/cs/faq/view(faqNo=${faq.faqNo})}"><span>Q.</span>[[${faq.faqTitle}]]</a>
                  </li>
                  <li class="more"><a href="#">더보기</a></li>
                </ul>
              </div>
              <div>
                <h3>탈퇴</h3>
                <ul>
                  <li th:each="faq : ${list}">
                    <a th:href="@{/cs/faq/view(faqNo=${faq.faqNo})}"><span>Q.</span>[[${faq.faqTitle}]]</a>
                  </li>
                  <li class="more"><a href="#">더보기</a></li>
                </ul>
              </div>
              <div>
                <h3>회원정보</h3>
                <ul>
                  <li th:each="faq : ${list}">
                    <a th:href="@{/cs/faq/view(faqNo=${faq.faqNo})}"><span>Q.</span>[[${faq.faqTitle}]]</a>
                  </li>
                  <li class="more"><a href="#">더보기</a></li>
                </ul>
              </div>
              <div>
                <h3>로그인</h3>
                <ul>
                  <li th:each="faq : ${list}">
                    <a th:href="@{/cs/faq/view(faqNo=${faq.faqNo})}"><span>Q.</span>[[${faq.faqTitle}]]</a>
                  </li>
                  <li class="more"><a href="#">더보기</a></li>
                </ul>
              </div>
            </article>
          </section>
        </div>
      </section>
<!--내용 끝-->
</html>