<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/adminLayout.html}">
<!--내용 시작-->
    <section id="admin-product-register" layout:fragment="content">
        <script>

            // 이미지 애니메이션
            function imageScale() {

                const bigImage = ``;
            }


/*
            // 옵션 디테일 추가
            window.onload = function () {
                addEventListener('click', function (e){
                    if (e.target.className === "btnOptDetailAdd"){
                        const optDetailTr = e.target.parentElement.parentElement;
                        const optDetailBox = optDetailTr.querySelector('.optDetailBox');
                        const optDetail = optDetailTr.querySelectorAll('.optDetail');
                        if (optDetail.length >= 4) {
                            alert("더 이상 옵션값을 추가하실수 없습니다.")
                        }else{
                            const optDetailTuple = `<div class="optDetail">
                                                <input type="text" class="optValue" placeholder="옵션값"/>
                                                <input type="text" class="optPrice" placeholder="옵션가격"/>
                                                <input type="text" class="optStock" placeholder="옵션재고"/>
                                                <span class="btnOptDetailDelete">삭제</span>
                                            </div>`;
                            optDetailBox.insertAdjacentHTML('beforeend', optDetailTuple);
                        }
                    }else if (e.target.className === "btnOptDetailDelete") {
                        const optDetailDiv = e.target.parentElement;
                        optDetailDiv.remove();
                    }else if (e.target.className === "btnOptTupleDelete") {
                        const optTupleTr = e.target.parentElement.parentElement;
                        optTupleTr.remove();
                    }

                })

                const btnNewOaaptAdd = document.getElementById('btnNewOptAdd');
                btnNewOptAdd.onclick = function (){
                    const optAddTuple = document.getElementsByClassName('optAddTuple');
                    const prodNo = document.getElementsByName('prodNo')[0].value;

                    const allOpts = [];
                    Array.from(optAddTuple).forEach(function (eachOpt) {
                        const optDetailBox = eachOpt.querySelector('.optDetailBox');
                        const optName = eachOpt.querySelector('.optName');
                        const optValue = Array.from(optDetailBox.querySelectorAll('.optValue'));
                        const optPrice = Array.from(optDetailBox.querySelectorAll('.optPrice'));
                        const optStock = Array.from(optDetailBox.querySelectorAll('.optStock'));
                        const opt = [];

                        for (let j = 0; j < optValue.length; j++) {
                            const optDetail = [];
                            optDetail.push(prodNo);
                            optDetail.push(optName.value);
                            optDetail.push(optValue[j].value);
                            optDetail.push(optPrice[j].value);
                            optDetail.push(optStock[j].value);
                            opt.push(optDetail);
                        }
                        allOpts.push(opt);
                    })

                    const jsonData = {
                        "allOpts" : allOpts
                    }
                    fetch("/lotteon/admin/product/option", {
                        method: 'POST',
                        headers: {'Content-Type': 'application/json'},
                        body: JSON.stringify(jsonData)
                    })
                        .then(response => response.json())
                        .then(data => {
                            console.log(data);
                        })
                        .catch(err => console.log(err));

                }
            }

 */

            // 옵션 이름 추가
            function addOptionName() {
                const btnAddOptName = event.target;
                const optNameDiv = btnAddOptName.parentNode;
                const regOptContent = optNameDiv.parentNode;
                const makeOption = regOptContent.parentNode;
                const RegOptContents = makeOption.querySelectorAll('.regOptContent');

                if (RegOptContents.length < 3) {
                    const newRegOptContent = `<div class="regOptContent">
                                            <div class="optNumber">옵션 ${RegOptContents.length+1}</div>
                                            <div>
                                                <input type="text" class="optName" placeholder="옵션 이름 ex) size"/>
                                                <span onclick="addOptionName()">추가</span>
                                                <span onclick="deleteOptionName()">삭제</span>
                                            </div>
                                            <div class="optValueNumber">
                                                <div>
                                                    <input type="text" class="optValue" placeholder="옵션 값 ex) small, large"/>
                                                    <span onclick="addOptionValue()">추가</span>
                                                    <span onclick="deleteOptionValue()">삭제</span>
                                                </div>
                                            </div>
                                        </div>`;
                    regOptContent.insertAdjacentHTML('afterend', newRegOptContent);
                    btnAddOptName.style.display = "none";
                }else {
                    alert("옵션은 최대 3개까지 등록 할 수 있습니다.");
                }
            }

            // 옵션 이름 삭제
            function deleteOptionName() {
                const btnAddOptName = event.target;
                const optNameDiv = btnAddOptName.parentNode;
                const regOptContent = optNameDiv.parentNode;
                const makeOption = regOptContent.parentNode;
                const RegOptContents = makeOption.querySelectorAll('.regOptContent');

                if (RegOptContents.length >= 2) {
                    regOptContent.remove();
                    const RegOptContents = makeOption.querySelectorAll('.regOptContent');
                    const RegOptContentsArray = Array.from(RegOptContents);

                    const lastRegOptContent = RegOptContentsArray.pop();
                    console.log(RegOptContents.length);
                    console.log(lastRegOptContent);
                    const lastBtnAddOptName = lastRegOptContent.querySelector('span[onclick="addOptionName()"]');
                    lastBtnAddOptName.style.display = "inline-block";

                }
                const optNumber = makeOption.querySelectorAll('.optNumber');
                Array.from(optNumber).forEach(function (number, index){
                    number.innerText = "옵션 " + [index+1];
                })
            }

            // 옵션 값 추가
            function addOptionValue() {
                const btnAddOptValue = event.target; // 버튼
                const optValueNumber = btnAddOptValue.parentNode; // 부모
                const optValueDiv = optValueNumber.parentNode; // 부모의 부모
                const optValue = optValueDiv.querySelectorAll('.optValue');

                if (optValue.length < 4) {
                    const newOptValueDiv = `<div class="optValueNumber">
                                                <input type="text" class="optValue" placeholder="옵션 값 ex) small, large"/>
                                                <span onclick="addOptionValue()">추가</span>
                                                <span onclick="deleteOptionValue()">삭제</span>
                                            </div>`;
                    optValueNumber.insertAdjacentHTML('afterend', newOptValueDiv);
                    btnAddOptValue.style.display = "none";
                }else {
                    alert("하나의 옵션에 옵션값은 최대 4개까지 등록 할 수 있습니다.");
                }
            }

            // 옵션 값 삭제
            function deleteOptionValue() {
                const btnDeleteOptValue = event.target; // 버튼
                const optValueNumber = btnDeleteOptValue.parentNode; // 부모
                const optValueDiv = optValueNumber.parentNode; // 부모의 부모
                const optValues = optValueDiv.querySelectorAll('.optValueNumber');
                if (optValues.length >= 2) {
                    optValueNumber.remove();
                    const optValues = optValueDiv.querySelectorAll('.optValueNumber');
                    const optValuesArray = Array.from(optValues);
                    const lastOptValue = optValuesArray.pop();
                    const lastBtnAddOptValue = lastOptValue.querySelector('span[onclick="addOptionValue()"]');
                    lastBtnAddOptValue.style.display = "inline-block";

                }
            }

            // 옵션 생성
            function createOption() {
                const btnCreateOption = event.target; // 버튼
                const createOptSection = btnCreateOption.parentNode; // 부모
                const registerOption = document.querySelector('.registerOption');
                const regOptContentAll = createOptSection.querySelectorAll('.regOptContent');
                const option1All = regOptContentAll.length >= 1 ? Array.from(regOptContentAll[0].querySelectorAll('.optValue')) : [];
                const option2All = regOptContentAll.length >= 2 ? Array.from(regOptContentAll[1].querySelectorAll('.optValue')) : [];
                const option3All = regOptContentAll.length >= 3 ? Array.from(regOptContentAll[2].querySelectorAll('.optValue')) : [];
                console.log(1);

                Array.from(option1All).forEach(function (option1){
                    const optValue1 = option1.value;
                    console.log(2);
                    if (option2All.length === 0) {
                        console.log(22);
                        const optValue2 = "";
                        const optValue3 = "";
                        aaa(registerOption, optValue1, optValue2, optValue3);
                    }else{
                        Array.from(option2All).forEach(function (option2){
                            const optValue2 = option2.value;
                            console.log(3);
                            if (option3All.length === 0) {
                                const optValue3 = "";
                                aaa(registerOption, optValue1, optValue2, optValue3);
                            }else{
                                Array.from(option3All).forEach(function (option3){
                                    const optValue3 = option3.value;
                                    console.log(4);
                                    aaa(registerOption, optValue1, optValue2, optValue3);
                                })
                            }
                        })
                    }


                })
            }
            // 생성한 옵션 태그 생성하는 함수
            function aaa(registerOption, optValue1, optValue2, optValue3) {
                const regOptNumber = document.querySelectorAll('.regOptNumber');
                const newRegOptContent = `<div class="regOptContent">
                                                        <div class="regOptNumber">옵션 번호 ${regOptNumber.length+1}</div>
                                                        <div>
                                                            <input type="text" class="optValue1" value="${optValue1}"/>
                                                        </div>
                                                        <div>
                                                            <input type="text" class="optValue2" value="${optValue2}"/>
                                                        </div>
                                                        <div>
                                                            <input type="text" class="optValue3" value="${optValue3}"/>
                                                        </div>
                                                        <div>
                                                            <input type="text" class="optPrice" placeholder="옵션 가격"/>
                                                        </div>
                                                        <div>
                                                            <input type="text" class="optStock" placeholder="옵션 재고"/>
                                                        </div>
                                                        <div>
                                                            <span onclick="deleteOptiaaonValue()">삭제</span>
                                                        </div>
                                                    </div>
                                                    `
                registerOption.insertAdjacentHTML('beforeend', newRegOptContent);
            }
        </script>
        <nav>
            <script th:src="@{/js/util.js}"></script>

            <h3>상품등록</h3>
            <p>
                HOME > 상품관리 > <strong>상품등록</strong>
            </p>
        </nav>
        <!-- 상품등록 컨텐츠 시작 -->
        <article>
            <form th:action="@{/admin/product/register}" method="post" id="prodRegisterForm"
                  enctype="multipart/form-data">

                <!-- 상품분류 -->
                <section>
                    <h4>상품분류</h4>
                    <table>
                        <tr>
                            <td>1차 분류</td>
                            <td></td>
                            <td>2차 분류</td>
                            <td></td>
                        </tr>
                    </table>
                </section>
                <!-- 기본정보 -->
                <section>
                    <h4>기본정보</h4>
                    <input type="hidden" name="prodNo" th:value="${productDTO.prodNo}">
                    <table class="optionTable">
                        <tr>
                            <td>상품명</td>
                            <td>[[${productDTO.prodName}]]</td>
                            <td>기본설명</td>
                            <td>[[${productDTO.prodInfo}]]</td>
                        </tr>
                        <tr>
                            <td>제조사</td>
                            <td>[[${productDTO.prodCompany}]]</td>
                            <td>판매가격</td>
                            <td>[[${productDTO.prodPrice}]]</td>
                        </tr>
                        <tr>
                            <td>할인율</td>
                            <td>[[${productDTO.prodDiscount}]]</td>
                            <td>포인트</td>
                            <td>[[${productDTO.prodPoint}]]</td>
                        </tr>
                        <tr>
                            <td>재고수량</td>
                            <td>[[${productDTO.prodStock}]]</td>
                            <td>배송비</td>
                            <td>[[${productDTO.prodDeliveryFee}]]</td>
                        </tr>
                        <tr>
                            <td>상품 썸네일</td>
                            <td colspan="3">
                                <div style="display: flex; justify-content: space-between">
                                    <label style="width: 250px;">
                                        <img th:src="@{/uploads/__${productDTO.thumb190}__}" class="thumb190" style="width: 250px;">
                                        <span>크기 190 x 190</span>
                                    </label>
                                    <label style="width: 250px;">
                                        <img th:src="@{/uploads/__${productDTO.thumb230}__}" class="thumb230" style="width: 250px;">
                                        <span>크기 230 x 230</span>
                                    </label>
                                    <label style="width: 250px;">
                                        <img th:src="@{/uploads/__${productDTO.thumb456}__}" class="thumb456" style="width: 250px;">
                                        <span>크기 456 x 456</span>
                                    </label>
                                </div>
                                <div style="display: flex; justify-content: space-between; margin-top: 20px">
                                    <label style="width: 250px;">
                                        <span style="font-size: 14px;">상품 이미지 변경</span>
                                        <input type="file" name="multThumb190"/>
                                    </label>
                                    <label style="width: 250px;">
                                        <span style="font-size: 14px;">상품 이미지 변경</span>
                                        <input type="file" name="multThumb230"/>
                                    </label>
                                    <label style="width: 250px;">
                                        <span style="font-size: 14px;">상품 이미지 변경</span>
                                        <input type="file" name="multThumb456"/>
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>상세 상품정보</td>
                            <td colspan="3">
                                <span>크기 가로 940px 높이 제약없음, 크기 최대 1MB, 상세페이지 상품정보에 출력될 이미지 입니다.</span>
                                <input type="file" name="multThumb940"/>
                            </td>
                        </tr>
                    </table>
                </section>

                <!---->
                <div class="bigImageBox">

                </div>


                <!---->

                <!-- 옵션 정보 -->
                <section>
                    <h4 style="display: inline-block">등록된 상품 옵션</h4>
                    <p>
                        하나의 상품에 최대 4개의 옵션을 설정할 수 있습니다.
                    </p>
                    <table class="optAddTable">
                        <tr>
                            <td>구분</td>
                            <td>옵션명</td>
                            <td>옵션정보</td>
                        </tr>
                        <tr>
                            <td>옵션</td>
                            <td colspan="2">등록된 옵션 없음</td>
                        </tr>
                        <!--반복문 이상하게 걸렸음-->
                        <tr class="optAddTuple">
                            <td>옵션</td>
                            <td>
                                <input type="text" class="optName"/>
                            </td>
                            <td class="optDetailBox">
                                <div class="optDetail">
                                    <input type="text" readonly/>
                                    <input type="text" readonly/>
                                    <input type="text" readonly/>
                                </div>
                            </td>
                        </tr>
                    </table>
                </section>

                <!-- 옵션 정보 생성 -->
                <section>
                    <h4 style="display: inline-block">상품 옵션 생성</h4>
                    <p>
                        하나의 상품에 최대 3개의 옵션을 설정할 수 있습니다.<br>
                        하나의 옵션에 최대 4개의 값을 설정할 수 있습니다.
                    </p>
                    <div class="makeOption">
                        <div class="regOptTitle">
                            <div>구분</div>
                            <div>옵션 이름</div>
                            <div>옵션 값</div>
                        </div>
                        <div class="regOptContent">
                            <div class="optNumber">옵션 1</div>
                            <div>
                                <input type="text" class="optName" placeholder="옵션 이름 ex) size"/>
                                <span onclick="addOptionName()">추가</span>
                                <span onclick="deleteOptionName()">삭제</span>
                            </div>
                            <div>
                                <div class="optValueNumber">
                                    <input type="text" class="optValue" placeholder="옵션 값 ex) small, large"/>
                                    <span onclick="addOptionValue()">추가</span>
                                    <span onclick="deleteOptionValue()">삭제</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span id="btnNewOptAdd" onclick="createOption()">신규 옵션 생성</span>
                </section>

                <!-- 옵션 정보 등록 -->
                <section>
                    <h4 style="display: inline-block">상품 옵션 만들기</h4>
                    <p>
                        하나의 상품에 최대 3개의 옵션을 설정할 수 있습니다.<br>
                        하나의 옵션에 최대 4개의 값을 설정할 수 있습니다.
                    </p>
                    <div class="registerOption">
                        <div class="regOptTitle">
                            <div>구분</div>
                            <div>옵션 1</div>
                            <div>옵션 2</div>
                            <div>옵션 3</div>
                            <div>옵션 가격</div>
                            <div>옵션 재고</div>
                            <div>옵션 관리</div>
                        </div>
                    </div>
                    <span id="da">신규 옵션 등록</span>
                </section>

                <!-- 상품정보 제공 고시 -->
                <section style="margin-top: 40px">
                    <h4>상품정보 제공고시</h4>
                    <p>
                        [전자상거래에 관한 상품정보 제공에 관한 고시] 항목에 의거 등록해야 되는 정보입니다.
                    </p>
                    <table>
                        <tr>
                            <td>상품상태</td>
                            <td><input type="text" name="prodStatus" value="새상품"/></td>
                        </tr>
                        <tr>
                            <td>부가세 면세여부</td>
                            <td><input type="text" name="prodTax" value="과세상품"/></td>
                        </tr>
                        <tr>
                            <td>영수증발행</td>
                            <td><input type="text" name="prodReceipt" value="발행가능 - 신용카드 전표, 온라인 현금영수증"/></td>
                        </tr>
                        <tr>
                            <td>사업자구분</td>
                            <td><input type="text" name="prodBusinessType" value="사업자 판매자"/></td>
                        </tr>
                        <tr>
                            <td>원산지</td>
                            <td><input type="text" name="prodOrg" value="국내산"/></td>
                        </tr>
                    </table>
                </section>

                <input type="submit" value="등록하기"/>
            </form>
        </article>

        <p class="ico alert">
            <strong>Warning!</strong>
            전자상거래 등에서의 상품 등의 정보제공에 관한 고시에 따라 총 35개 상품군에 대해 상품 특성 등을 양식에 따라 입력할 수 있습니다.
        </p>
        <!-- 상품등록 컨텐츠 끝 -->
    </section>
<!--내용 끝-->
</html>