#admin-wrapper {
    background-color: #dadada;
}
.shopInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin: 10px 0;
}
/* 통계정보 */
.shopAverage {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.shopGroup {
    display: flex;
    align-items: center;
    width: 260px;
    height: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    background-color: #fafafa;
}
.shopGroup > img {
    width: 70px;
    height: 70px;
}
.shopGroup > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 6px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.shopGroup > div > p {
    display: flex;
    font-size: 14px;
    font-weight: bold;
    margin: 2px 0;
    justify-content: space-between;
}
.shopGroup > div > p > span {
    font-size: 14px;
}


    /* 그래프 */
.shopGraph {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    background-color: #fafafa;
}
.graphTitle {
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
}
.graphTitle > span {
    font-size: 18px;
    margin: 0 4px;
}
.graphTitle > .orangeStick {
    width: 20px;
    height: 20px;
    background-color: #F3B95F;
}
.graphTitle > .redStick {
    width: 20px;
    height: 20px;
    background-color: #da291c;
}
.graphContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 14px;
}
.graphTop {
    display: flex;
    justify-content: end;
    height: 200px;
}
.graphStick {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 25px;
    height: 100%;
    margin: 0 4px;
    box-sizing: border-box;
}
.graphStick > span {
    display: flex;
    width: 13px;
    font-size: 10px;
    font-weight: bold;
    color: white;
    justify-content: center;
}
.graphStick > span:nth-child(1){
    background-color: #F3B95F;
    border-bottom: 3px solid #F3B95F;
}
.graphStick > span:nth-child(2){
    background-color: #da291c;
    border-bottom: 3px solid #da291c;
}
.stickInfo {
    display: none!important;
    width: 50px!important;
    height: 25px;
    background-color: #e1e1e1;
    opacity: 0.8;
    position: absolute;
    bottom: 40px;
    left: 0;
    color: black!important;
}
.graphBot {
    display: flex;
    justify-content: end;
    border-top: 3px solid #666666;
}
.graphBot > div {
    width: 25px;
    margin: 0 2px;
    text-align: center;
    font-size: 12px;
    font-style: italic;
}


#admin-cs-list > section > .qna tr > td:nth-child(5) {width: 80px; text-align: left;}


/* seller/cs/qna/view */
#sellerQnaView h4 {
    margin-bottom: 10px;
    margin-left: 4px;
}
.requestQna {
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    background-color: #fafafa;
}
.requestQna > .reqQnaTitle {
    display: flex;
    height: auto;
    border: 1px solid #c4c4c4;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.requestQna > .reqQnaTitle > span {
    justify-content: center;
    padding: 10px;
    font-size: 14px;
    box-sizing: border-box;
}
.requestQna > .reqQnaTitle > span:nth-child(1){
    width: 100px;
    background-color: #d7d7d7;
    text-align: center;
}
.requestQna > .reqQnaTitle > span:nth-child(2){
    width: 460px;
}
.requestQna > .reqQnaTitle > span:nth-child(3){
    width: 100px;
    background-color: #d7d7d7;
    text-align: center;
}
.requestQna > .reqQnaTitle > span:nth-child(4){
    width: 400px;
}

.requestQna > .reqQnaInfo {
    display: flex;
    height: auto;
    border-left: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
}
.requestQna > .reqQnaInfo > span {
    justify-content: center;
    padding: 10px;
    font-size: 14px;
    box-sizing: border-box;
}
.requestQna > .reqQnaInfo > span:nth-child(1){
    width: 100px;
    background-color: #d7d7d7;
    text-align: center;
}
.requestQna > .reqQnaInfo > span:nth-child(2){
    width: 460px;
}
.requestQna > .reqQnaInfo > span:nth-child(3){
    width: 100px;
    background-color: #d7d7d7;
    text-align: center;
}
.requestQna > .reqQnaInfo > span:nth-child(4){
    width: 150px;
}
.requestQna > .reqQnaInfo > span:nth-child(5){
    width: 100px;
    background-color: #d7d7d7;
    text-align: center;
}
.requestQna > .reqQnaInfo > span:nth-child(6){
    width: 150px;
}

.requestQna > .reqQnaContent {
    display: flex;
    height: auto;
    min-height: 100px;
    border: 1px solid #c4c4c4;

}
.requestQna > .reqQnaContent > span {
    justify-content: center;
    padding: 10px;
    font-size: 14px;
    box-sizing: border-box;
}
.requestQna > .reqQnaContent > span:nth-child(1){
    width: 100px;
    background-color: #d7d7d7;
    text-align: center;
}
.requestQna > .reqQnaContent > span:nth-child(2){
    width: 570px;
}

.responseQna {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0 10px;
    box-sizing: border-box;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    background-color: #fafafa;
    margin-top: 20px;
}

.responseQna > .resQnaBox {
    display: flex;
    justify-content: left;
    min-height: 100px;
    height: auto;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    margin-bottom: 10px;
}
.responseQna > .resQnaBox > .resQnaInfo {
    width: 100px;
    background-color: #d7d7d7;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    box-sizing: border-box;
}
.responseQna > .resQnaBox > .resQnaInfo > p:nth-child(1){
    margin-bottom: 20px;
}
.responseQna > .resQnaBox > .resQnaComment {
    width: 840px;
}
.responseQna > .resQnaBox > .resQnaComment > input{
    align-self: auto;
    margin: 10px;
    width: 810px;
    font-size: 14px;
    box-sizing: border-box;
    border: 0;
    outline: none;
    padding: 0;
    background-color: #fafafa;
}
.responseQna > .resQnaBox > span {
    display: flex;
    align-self: end;
    width: 50px;
    height: 30px;
    border-radius: 4px;
    background-color: #4291e9;
    color: white;
    font-size: 14px;
    justify-content: center;
    line-height: 30px;
    margin: 0 10px 10px 0;
    cursor: pointer;
}
.responseQna > .resQnaBox > span:nth-child(4){
    background-color: #EB5353;
}
.responseQna > span {
    display: flex;
    align-self: end;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: #4291e9;
    color: white;
    font-size: 14px;
    justify-content: center;
    line-height: 40px;
    margin-bottom: 10px;
    cursor: pointer;
}

/* seller/product/option */
.modifyBtn {
    display: flex;
    width: 60px;
    height: 30px;
    border-radius: 4px;
    background-color: #e6e6e6;
    border: 1px solid #c4c4c4;
    font-size: 14px;
    font-weight: bold;
    justify-content: center;
    line-height: 30px;
    margin-top: 10px;
    cursor: pointer;
    align-self: end;
}