<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/sellerLayout.html}">
<!--내용 시작-->
    <section id="admin-index" layout:fragment="content">

        <script th:inline="javascript">
            window.onload = function (){
                const monthCount = [[${monthCount}]];  // 최근 한달 일자별 주문 건수
                const monthPrice = [[${monthPrice}]];  // 최근 한달 일자별 주문 금액
                const dateArray = [];
                const countArray = [];
                const priceArray = [];

                const countKeys = Object.keys(monthCount);
                for (let i = countKeys.length - 1; i >= 0; i--) {
                    const key = countKeys[i];
                    const value = monthCount[key];
                    dateArray.push(key);
                    countArray.push(value);
                }
                const priceKeys = Object.keys(monthPrice);
                for (let i = priceKeys.length - 1; i >= 0; i--) {
                    const key = priceKeys[i];
                    const value = monthPrice[key];
                    priceArray.push(value);
                }


                new Chart(document.getElementById("line-chart1"), {
                    type: 'line',
                    data: {
                        labels: dateArray,
                        datasets: [{
                            data: countArray,
                            label: "Africa",
                            borderColor: "#3e95cd",
                            fill: false,
                            pointStyle: 'triangle'
                        }
                        ]
                    },
                    options: {
                        responsive: false,
                        title: {
                            display: true,
                            text: '최근 한달 주문 건수',
                            fontSize: 20,
                            color: '#111',
                        },legend: {
                            display: false // 라벨 숨기기
                        }
                    }
                });

                new Chart(document.getElementById("line-chart2"), {
                    type: 'line',
                    data: {
                        labels: dateArray,
                        datasets: [{
                            data: priceArray,
                            label: "Africa",
                            borderColor: "#3e95cd",
                            fill: false,
                            pointStyle: 'triangle'
                        }
                        ]
                    },
                    options: {
                        responsive: false,
                        title: {
                            display: true,
                            text: '최근 한달 주문 금액',
                            fontSize: 20,
                            color: '#111',
                        },legend: {
                            display: false // 라벨 숨기기
                        }
                    }
                });
            }

            function viewCountGraph() {
                const countGraph = document.getElementsByClassName('countGraph')[0];
                const priceGraph = document.getElementsByClassName('priceGraph')[0];
                countGraph.style.display = "flex";
                priceGraph.style.display = "none";
            }
            function viewPriceGraph() {
                const countGraph = document.getElementsByClassName('countGraph')[0];
                const priceGraph = document.getElementsByClassName('priceGraph')[0];
                countGraph.style.display = "none";
                priceGraph.style.display = "flex";
            }

        </script>

        <nav>
            <h3>판매자 메인</h3>
            <p>
                HOME > <strong>메인</strong>
            </p>
        </nav>

        <h4>쇼핑몰 운영현황</h4>
        <article>
            <div class="shopInfo">
                <div class="shopAverage">
                    <div class="shopGroup">
                        <img th:src="@{/images/seller/seller_admin_icon2.png}">
                        <div>
                            <p>총 주문건수<span th:text="${sellerInfoDTO.allCount}"></span></p>
                            <p>신규 주문건수<span th:text="${sellerInfoDTO.oneDayCount}"></span></p>
                            <p>주간 주문건수<span th:text="${sellerInfoDTO.oneWeekCount}"></span></p>
                            <p>월간 주문건수<span th:text="${sellerInfoDTO.oneMonthsCount}"></span></p>
                        </div>
                    </div>
                    <div class="shopGroup">
                        <img th:src="@{/images/seller/seller_admin_icon1.png}">
                        <div>
                            <p>총 주문금액<span th:text="${sellerInfoDTO.allPrice}"></span></p>
                            <p>신규 주문금액<span th:text="${sellerInfoDTO.oneDayPrice}"></span></p>
                            <p>주간 주문금액<span th:text="${sellerInfoDTO.oneWeekPrice}"></span></p>
                            <p>월간 주문금액<span th:text="${sellerInfoDTO.oneMonthsPrice}"></span></p>
                        </div>
                    </div>
                    <div class="shopGroup">
                        <img th:src="@{/images/seller/seller_admin_icon3.png}">
                        <div>
                            <p>입금 대기<span th:text="${sellerInfoDTO.statusCountMap.get('입금 대기')}"></span></p>
                            <p>배송 준비<span th:text="${sellerInfoDTO.statusCountMap.get('배송 준비')}"></span></p>
                            <p>배송 중<span th:text="${sellerInfoDTO.statusCountMap.get('배송 중')}"></span></p>
                        </div>
                    </div>
                    <div class="shopGroup">
                        <img th:src="@{/images/seller/seller_admin_icon1.png}">
                        <div>
                            <p>취소 요청<span th:text="${sellerInfoDTO.statusCountMap.get('취소 요청')}"></span></p>
                            <p>교환 요청<span th:text="${sellerInfoDTO.statusCountMap.get('교환 요청')}"></span></p>
                            <p>환불 요청<span th:text="${sellerInfoDTO.statusCountMap.get('환불 요청')}"></span></p>
                        </div>
                    </div>
                </div>
                <div class="shopGraph">
                    <div class="graphTitle">
                        <div class="graphBtn" onclick="viewCountGraph()">매출 건수</div>
                        <div class="graphBtn" onclick="viewPriceGraph()">매출 금액</div>
                    </div>
                    <div class="graphContent countGraph">
                        <canvas id="line-chart1" width="800" height="250"></canvas>
                    </div>
                    <div class="graphContent priceGraph" style="display: none">
                        <canvas id="line-chart2" width="800" height="250"></canvas>
                    </div>
                </div>
            </div>
        </article>

        <div>
            <div>
                <h4>공지사항</h4>
                <article class="articleBox">
                    <p>
                        <a>[공지] 판매자님들은 주기적인 비밀번호 변경을 하세요. 판매자님들은 주기적인 비밀번호 변경을 하세요.</a>
                        <span>20-07-08 12:23</span>
                    </p>
                    <p>
                        <a>[공지] 1주년 기념 신규가입 사은품 안내</a>
                        <span>20-07-08 12:23</span>
                    </p>
                    <p>
                        <a>[공지] 1주년 기념 신규가입 사은품 안내</a>
                        <span>20-07-08 12:23</span>
                    </p>
                    <p>
                        <a>[공지] 1주년 기념 신규가입 사은품 안내</a>
                        <span>20-07-08 12:23</span>
                    </p>
                    <p>
                        <a>[공지] 1주년 기념 신규가입 사은품 안내</a>
                        <span>20-07-08 12:23</span>
                    </p>
                </article>
            </div>

            <div>
                <h4>고객문의</h4>
                <article class="articleBox">
                    <p>
                        <a>[문의] 상품이 잘못 왔습니다.</a>
                        <span>20-07-08 12:23</span>
                    </p>
                    <p>
                        <a>[문의] 안녕하세요. 주문자 입니다. 구매한 상품에 문제가 있어서 이렇게 문의글을 남깁니다.</a>
                        <span>20-07-08 12:23</span>
                    </p>
                    <p>
                        <a>[문의] 상품이 1개 잘못 왔습니다.</a>
                        <span>20-07-08 12:23</span>
                    </p>
                    <p>
                        <a>[문의] 상품이 1개 잘못 왔습니다.</a>
                        <span>20-07-08 12:23</span>
                    </p>
                    <p>
                        <a>[문의] 상품이 1개 잘못 왔습니다.</a>
                        <span>20-07-08 12:23</span>
                    </p>
                </article>
            </div>
        </div>
    </section>
<!--내용 끝-->
</html>