<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/sellerLayout.html}">
<!--내용 시작-->
    <section id="admin-index" layout:fragment="content">

        <script>
            window.onload = function (){
                /*
                const graphStickAll = document.getElementsByClassName('graphStick');
                Array.from(graphStickAll).forEach(function (graphStick){
                    graphStick.addEventListener('mouseover', function (event){
                        event.target.querySelector('span:nth-child(3)').style.display = "flex";
                    });
                    graphStick.addEventListener('mouseleave', function (event){
                        event.target.getElementsByTagName('span')[2].style.display = "none";
                    });
                })
                 */
            }


        </script>

        <nav>
            <h3>판매자 메인</h3>
            <p>
                HOME > <strong>메인</strong>
            </p>
        </nav>

        <h4>쇼핑몰 운영현황</h4>
        <article>
            <div class="shopInfo">
                <div class="shopAverage">
                    <div class="shopGroup">
                        <img th:src="@{/images/seller/seller_admin_icon2.png}">
                        <div>
                            <p>총 주문건수<span th:text="${sellerInfoDTO.allCount}"></span></p>
                            <p>신규 주문건수<span th:text="${sellerInfoDTO.oneDayCount}"></span></p>
                            <p>주간 주문건수<span th:text="${sellerInfoDTO.oneWeekCount}"></span></p>
                            <p>월간 주문건수<span th:text="${sellerInfoDTO.oneMonthsCount}"></span></p>
                        </div>
                    </div>
                    <div class="shopGroup">
                        <img th:src="@{/images/seller/seller_admin_icon1.png}">
                        <div>
                            <p>총 주문금액<span th:text="${sellerInfoDTO.allPrice}"></span></p>
                            <p>신규 주문금액<span th:text="${sellerInfoDTO.oneDayPrice}"></span></p>
                            <p>주간 주문금액<span th:text="${sellerInfoDTO.oneWeekPrice}"></span></p>
                            <p>월간 주문금액<span th:text="${sellerInfoDTO.oneMonthsPrice}"></span></p>
                        </div>
                    </div>
                    <div class="shopGroup">
                        <img th:src="@{/images/seller/seller_admin_icon3.png}">
                        <div>
                            <p>입금 대기<span th:text="${sellerInfoDTO.statusCountMap.get('입금 대기')}"></span></p>
                            <p>배송 준비<span th:text="${sellerInfoDTO.statusCountMap.get('배송 준비')}"></span></p>
                            <p>배송 중<span th:text="${sellerInfoDTO.statusCountMap.get('배송 중')}"></span></p>
                        </div>
                    </div>
                    <div class="shopGroup">
                        <img th:src="@{/images/seller/seller_admin_icon1.png}">
                        <div>
                            <p>취소 요청<span th:text="${sellerInfoDTO.statusCountMap.get('취소 요청')}"></span></p>
                            <p>교환 요청<span th:text="${sellerInfoDTO.statusCountMap.get('교환 요청')}"></span></p>
                            <p>환불 요청<span th:text="${sellerInfoDTO.statusCountMap.get('환불 요청')}"></span></p>
                        </div>
                    </div>
                </div>
                <div class="shopGraph">
                    <div class="graphTitle">
                        <span class="orangeStick"></span>
                        <span> 주문 건수 </span>
                        <span class="redStick"></span>
                        <span> 매출 금액 </span>
                    </div>
                    <div class="graphContent">
                        <div class="graphTop">
                            <div class="graphStick" th:each="grapgInfo : ${sellerInfoDTO.graphInfoDTO}">
                                <span class="countStick"
                                      th:style="'height:'+(${grapgInfo.count}/${sellerInfoDTO.allCount})*(${sellerInfoDTO.allCount}*190/${sellerInfoDTO.maxCount})"
                                      th:data-count="${grapgInfo.count}"></span>
                                <span class="salesStick"
                                      th:style="'height:' + (${grapgInfo.price} / ${sellerInfoDTO.allPrice}) * (${sellerInfoDTO.allPrice} * 190 / ${sellerInfoDTO.maxPrice})"
                                      th:data-price="${grapgInfo.price}"></span>
                                <span class="stickInfo">[[${grapgInfo.count}]]<br>[[${grapgInfo.price}]]</span>
                            </div>


                        </div>

                        <div class="graphBot">
                            <div>04.22</div>
                            <div>04.21</div>
                            <div>04.20</div>
                            <div>04.19</div>
                            <div>04.18</div>
                            <div>04.17</div>
                            <div>04.16</div>
                        </div>
                    </div>
                </div>
            </div>
        </article>

        <div>
            <div>
                <h4>공지사항</h4>
                <article>
                    <p>
                        <span>[공지] 판매자님들은 주기적인 비밀번호 변경을 하세요. 판매자님들은 주기적인 비밀번호 변경을 하세요.</span>
                        <span>20-07-08 12:23</span>
                    </p>
                    <p>
                        <span>[공지] 1주년 기념 신규가입 사은품 안내</span>
                        <span>20-07-08 12:23</span>
                    </p>
                    <p>
                        <span>[공지] 1주년 기념 신규가입 사은품 안내</span>
                        <span>20-07-08 12:23</span>
                    </p>
                    <p>
                        <span>[공지] 1주년 기념 신규가입 사은품 안내</span>
                        <span>20-07-08 12:23</span>
                    </p>
                    <p>
                        <span>[공지] 1주년 기념 신규가입 사은품 안내</span>
                        <span>20-07-08 12:23</span>
                    </p>
                </article>
            </div>

            <div>
                <h4>고객문의</h4>
                <article>
                    <p>
                        <span>[문의] 상품이 잘못 왔습니다.</span>
                        <span>20-07-08 12:23</span>
                    </p>
                    <p>
                        <span>[문의] 안녕하세요. 주문자 입니다. 구매한 상품에 문제가 있어서 이렇게 문의글을 남깁니다.</span>
                        <span>20-07-08 12:23</span>
                    </p>
                    <p>
                        <span>[문의] 상품이 1개 잘못 왔습니다.</span>
                        <span>20-07-08 12:23</span>
                    </p>
                    <p>
                        <span>[문의] 상품이 1개 잘못 왔습니다.</span>
                        <span>20-07-08 12:23</span>
                    </p>
                    <p>
                        <span>[문의] 상품이 1개 잘못 왔습니다.</span>
                        <span>20-07-08 12:23</span>
                    </p>
                </article>
            </div>
        </div>
    </section>
<!--내용 끝-->
</html>