<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/sellerLayout.html}">
<!--내용 시작-->
    <section id="admin-index" layout:fragment="content">
        <nav>
            <h3>관리자 메인</h3>
            <p>
                HOME > <strong>메인</strong>
            </p>
        </nav>

        <h4>쇼핑몰 운영현황</h4>
        <article>
            <div class="shopInfo">
                <div class="shopAverage">
                    <div class="shopGroup">
                        <img th:src="@{/images/seller/seller_admin_icon2.png}">
                        <div>
                            <p>총 주문건수<span>999</span></p>
                            <p>신규 주문건수<span>999</span></p>
                            <p>주간 주문건수<span>999</span></p>
                            <p>월간 주문건수<span>999</span></p>
                        </div>
                    </div>
                    <div class="shopGroup">
                        <img th:src="@{/images/seller/seller_admin_icon1.png}">
                        <div>
                            <p>총 주문금액<span>999</span></p>
                            <p>신규 주문금액<span>999</span></p>
                            <p>주간 주문금액<span>999</span></p>
                            <p>월간 주문금액<span>999</span></p>
                        </div>
                    </div>
                    <div class="shopGroup">
                        <img th:src="@{/images/seller/seller_admin_icon3.png}">
                        <div>
                            <p>입금 대기<span>999</span></p>
                            <p>배송 준비<span>999</span></p>
                            <p>배송 중<span>999</span></p>
                        </div>
                    </div>
                    <div class="shopGroup">
                        <img th:src="@{/images/seller/seller_admin_icon1.png}">
                        <div>
                            <p>취소 요청<span>999</span></p>
                            <p>교환 요청<span>999</span></p>
                            <p>환불 요청<span>999</span></p>
                        </div>
                    </div>
                </div>
                <div class="shopGraph">
                    <div class="graphTitle">
                        주황색 : 매출 / 초록색 : 주문건수
                    </div>
                    <div class="graphContent">
                        <div class="graphTop">
                            <div class="graphStick">
                                <span class="countStick" style="height: 100px">10</span>
                                <span class="salesStick" style="height: 120px">12</span>
                            </div>
                            <div class="graphStick">
                                <span style="height: 80px">8</span>
                                <span style="height: 40px">4</span>
                            </div>
                            <div class="graphStick">
                                <span style="height: 60px">6</span>
                                <span style="height: 50px">5</span>
                            </div>
                            <div class="graphStick">
                                <span style="height: 120px">12</span>
                                <span style="height: 200px">20</span>
                            </div>
                            <div class="graphStick">
                                <span style="height: 200px">20</span>
                                <span style="height: 320px">32</span>
                            </div>
                            <div class="graphStick">
                                <span style="height: 140px">14</span>
                                <span style="height: 240px">24</span>
                            </div>
                            <div class="graphStick">
                                <span style="height: 80px">8</span>
                                <span style="height: 140px">14</span>
                            </div>

                        </div>

                        <div class="graphBot">
                            <div>04.22</div>
                            <div>04.21</div>
                            <div>04.20</div>
                            <div>04.19</div>
                            <div>04.18</div>
                            <div>04.17</div>
                            <div>04.16</div>
                        </div>
                    </div>
                </div>
            </div>
        </article>


        <h4>쇼핑몰 운영현황</h4>
        <article>
            <table>
                <tr>
                    <td>
                        <strong>주문건수(건)</strong>
                        <span>131</span>
                    </td>
                    <td>
                        <strong>주문금액(원)</strong>
                        <span>1,130,000</span>
                    </td>
                    <td>
                        <strong>회원가입(명)</strong>
                        <span>1014</span>
                    </td>
                    <td>
                        <strong>쇼핑몰 방문(명)</strong>
                        <span>1014</span>
                    </td>
                    <td>
                        <strong>신규게시물(건)</strong>
                        <span>100</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <span>PC</span>
                            <span>60</span>
                        </p>
                        <p>
                            <span>Mobile</span>
                            <span>71</span>
                        </p>
                    </td>
                    <td>
                        <p>
                            <span>PC</span>
                            <span>60</span>
                        </p>
                        <p>
                            <span>Mobile</span>
                            <span>71</span>
                        </p>
                    </td>
                    <td>
                        <p>
                            <span>PC</span>
                            <span>60</span>
                        </p>
                        <p>
                            <span>Mobile</span>
                            <span>71</span>
                        </p>
                    </td>
                    <td>
                        <p>
                            <span>PC</span>
                            <span>60</span>
                        </p>
                        <p>
                            <span>Mobile</span>
                            <span>71</span>
                        </p>
                    </td>
                    <td>
                        <p>
                            <span>PC</span>
                            <span>60</span>
                        </p>
                        <p>
                            <span>Mobile</span>
                            <span>71</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <span>어제</span>
                            <span>4</span>
                        </p>
                        <p>
                            <span>주간</span>
                            <span>10</span>
                        </p>
                        <p>
                            <span>월간</span>
                            <span>30</span>
                        </p>
                    </td>
                    <td>
                        <p>
                            <span>어제</span>
                            <span>4</span>
                        </p>
                        <p>
                            <span>주간</span>
                            <span>10</span>
                        </p>
                        <p>
                            <span>월간</span>
                            <span>30</span>
                        </p>
                    </td>
                    <td>
                        <p>
                            <span>어제</span>
                            <span>4</span>
                        </p>
                        <p>
                            <span>주간</span>
                            <span>10</span>
                        </p>
                        <p>
                            <span>월간</span>
                            <span>30</span>
                        </p>
                    </td>
                    <td>
                        <p>
                            <span>어제</span>
                            <span>4</span>
                        </p>
                        <p>
                            <span>주간</span>
                            <span>10</span>
                        </p>
                        <p>
                            <span>월간</span>
                            <span>30</span>
                        </p>
                    </td>
                    <td>
                        <p>
                            <span>어제</span>
                            <span>4</span>
                        </p>
                        <p>
                            <span>주간</span>
                            <span>10</span>
                        </p>
                        <p>
                            <span>월간</span>
                            <span>30</span>
                        </p>
                    </td>
                </tr>
            </table>
        </article>

        <h4>주문 업무현황</h4>
        <article>
            <table>
                <tr>
                    <td>
                        <strong>입금대기(건)</strong>
                        <span>100</span>
                    </td>
                    <td>
                        <strong>배송준비(건)</strong>
                        <span>100</span>
                    </td>
                    <td>
                        <strong>취소요청(건)</strong>
                        <span>100</span>
                    </td>
                    <td>
                        <strong>교환요청(건)</strong>
                        <span>100</span>
                    </td>
                    <td>
                        <strong>반품요청(건)</strong>
                        <span>100</span>
                    </td>
                </tr>
            </table>
        </article>

        <div>
            <div>
                <h4>공지사항</h4>
                <article>
                    <p>
                        <span>[공지] 판매자님들은 주기적인 비밀번호 변경을 하세요. 판매자님들은 주기적인 비밀번호 변경을 하세요.</span>
                        <span>20-07-08 12:23</span>
                    </p>
                    <p>
                        <span>[공지] 1주년 기념 신규가입 사은품 안내</span>
                        <span>20-07-08 12:23</span>
                    </p>
                    <p>
                        <span>[공지] 1주년 기념 신규가입 사은품 안내</span>
                        <span>20-07-08 12:23</span>
                    </p>
                    <p>
                        <span>[공지] 1주년 기념 신규가입 사은품 안내</span>
                        <span>20-07-08 12:23</span>
                    </p>
                    <p>
                        <span>[공지] 1주년 기념 신규가입 사은품 안내</span>
                        <span>20-07-08 12:23</span>
                    </p>
                </article>
            </div>

            <div>
                <h4>고객문의</h4>
                <article>
                    <p>
                        <span>[문의] 상품이 잘못 왔습니다.</span>
                        <span>20-07-08 12:23</span>
                    </p>
                    <p>
                        <span>[문의] 안녕하세요. 주문자 입니다. 구매한 상품에 문제가 있어서 이렇게 문의글을 남깁니다.</span>
                        <span>20-07-08 12:23</span>
                    </p>
                    <p>
                        <span>[문의] 상품이 1개 잘못 왔습니다.</span>
                        <span>20-07-08 12:23</span>
                    </p>
                    <p>
                        <span>[문의] 상품이 1개 잘못 왔습니다.</span>
                        <span>20-07-08 12:23</span>
                    </p>
                    <p>
                        <span>[문의] 상품이 1개 잘못 왔습니다.</span>
                        <span>20-07-08 12:23</span>
                    </p>
                </article>
            </div>
        </div>
    </section>
<!--내용 끝-->
</html>