<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/csLayout.html}">
<!--내용 시작-->
<section id="cs" layout:fragment="content">
  <div class="qna">
    <nav>
      <div>
        <p>홈<span>></span>공지사항</p>
      </div>
    </nav>
    <section class="list">
      <aside>
        <h2>공지사항</h2>
        <ul>
          <li class="on"><a href="#">회원</a></li>
          <li><a href="#">쿠폰/이벤트</a></li>
          <li><a href="#">주문/결제</a></li>
          <li><a href="#">배송</a></li>
          <li><a href="#">취소/반품/교환</a></li>
          <li><a href="#">여행/숙박/항공</a></li>
          <li><a href="#">안전거래</a></li>
        </ul>
      </aside>
      <article>
        <nav>
          <h1>회원</h1>
          <h2>회원 관련 문의내용 입니다.</h2>
        </nav>
        <table>
          <tr th:each="qna, index:${pageResponseDTO.dtoList}" th:if="${index.index} &lt; 6">
            <td>
              <a th:href="@{/cs/qna/view(qnaNo=${qna.qnaNo})}" th:text="${qna.qnaType + ' ' + qna.qnaTitle}">
              </a>
            </td>
            <td th:text="${qna.qnaStatus}"></td>
            <td th:text="${qna.userId}"></td>
            <td th:if="${qna.qnaDate != null}" th:text="${#temporals.format(qna.qnaDate, 'yyyy-MM-dd')}" style="text-align: right;"></td>
          </tr>
        </table>

        <div class="page">
                <span class="prev" >
                    <!-- 이전 버튼 -->
                    <a th:if="${pageResponseDTO.prev}" th:href="@{/cs/qna/list(pg=${pageResponseDTO.start-1})}"><이전</a>
                </span>
          <!-- 페이지 링크 -->
          <span class="num">
                    <th:block th:each="num:${#numbers.sequence(pageResponseDTO.start, pageResponseDTO.end)}">
                <a th:href="@{/cs/qna/list(pg=${num})}" th:class="${pageResponseDTO.pg == num} ? 'current' : 'off'" th:text="${num}"></a>
                    </th:block>
                </span>
          <!-- 다음 버튼 -->
          <span class="next">
                    <a th:if="${pageResponseDTO.next}" th:href="@{/cs/qna/list(pg=${pageResponseDTO.end+1})}">다음></a>
                </span>
        </div>
        <a th:href="@{/cs/qna/write}"><input type="button" value="문의하기" style=" float: right; background-color: #4291e9; color: white; border: none; padding: 10px 20px; cursor: pointer;" /></a>
      </article>
    </section>
  </div>
</section>
<!--내용 끝-->
</html>
