<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/policyLayout.html}">
<!--내용 시작-->
    <section class="buyer" layout:fragment="content">
        <script>
            function termsAccordion() {
                const button = event.target;
                const termsContent = button.parentNode.nextElementSibling;
                if (termsContent.style.display === "none") {
                    termsContent.style.display = "flex";
                    button.innerText = "접기";
                }else {
                    termsContent.style.display = "none";
                    button.innerText = "펼치기";
                }
            }

            window.onload = function () {
                let currentURL = window.location.href;
                let splitURL = currentURL.split('?')[1];
                let storyCate = ""
                if (splitURL != null){
                    storyCate = splitURL.split('=')[1];
                }
                const termsSelect = document.getElementsByClassName('termsSelect')[0];
                const aTag = termsSelect.querySelectorAll('a');
                switch (storyCate) {
                    case "buyer":
                        aTag[0].classList.add('termsOn');
                        break;
                    case 'seller':
                        aTag[1].classList.add('termsOn');
                        break;
                    case 'finance':
                        aTag[2].classList.add('termsOn');
                        break;
                    case 'location':
                        aTag[3].classList.add('termsOn');
                        break;
                    case 'privacy':
                        aTag[4].classList.add('termsOn');
                        break;
                }
            }
        </script>
        <article class="termsArticle">
            <h1>LotteON 서비스 이용약관</h1>

            <div class="termsSelect">
                <a th:href="@{/policy/terms(cate=buyer)}">구매회원 약관</a>
                <a th:href="@{/policy/terms(cate=seller)}">판매회원 약관</a>
                <a th:href="@{/policy/terms(cate=finance)}">전자금융거래 약관</a>
                <a th:href="@{/policy/terms(cate=location)}">위치정보이용 약관</a>
                <a th:href="@{/policy/terms(cate=privacy)}">개인정보수집 약관</a>
            </div>

            <h2 th:text="${termsList.get(0).termHead}"></h2>

            <div class="termsList" th:each="terms : ${termsList}">
                <div class="termsTitle">
                    <p th:text="${terms.termTitle}"></p>
                    <span onclick="termsAccordion()">접기</span>
                </div>
                <div class="termsContent" th:utext="${terms.termContent.replace('\n', '<br>')}" style="white-space: pre-line;"></div>
            </div>

        </article>
    </section>
<!--내용 끝-->
</html>